<Template name="warnerrule">
{{> alertoperation}}
<br/>
{{> warnerrulelist}}
<br/>
{{> warnerloglist}}

{{> warnerruleofemail}}
{{> warnerruleofemailedit}}
{{> warnerruleofmessage}}
{{> editwarnerruleofmessage}}
{{> warnerruleofscript}}
{{> editwarnerruleofscript}}
{{> warnerruleofsound}}
{{> editwarnerruleofsound}}
</Template>

<Template name="alertoperation">
<div class="form-horizontal">
	<span class="label label-info">报警规则</span>
	{{ide "warnerrule"}}
	<div class="btn-toolbar">
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				{{language.addbtn}}
			<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">	
				<li id="emailwarner"><a tabindex="-1" href="#"><i class="icon-envelope"></i> {{language.warnerrulemodel.emailwarner}}</a></li>
				<li id="messagewarner"><a tabindex="-1" href="#" ><i class="icon-signal"></i> {{language.warnerrulemodel.messagewarner}}</a></li>
				<li id="scriptwarner"><a tabindex="-1" href="#"><i class="icon-list-alt"></i> {{language.warnerrulemodel.scriptwarner}}</a></li>
				<li id="soundwarner"><a tabindex="-1" href="#" id="soundwarner"><i class="icon-volume-up"></i> {{language.warnerrulemodel.soundwarner}}</a></li>
			</ul>
			<button class="btn" id="delwarnerrule">{{language.delbtn}}</button>
		</div>
		<div class="btn-group">
			<button class="btn" id="allowewarnerrule">{{language.allowbtn}}</button>
			<button class="btn" id="forbidwarnerrule">{{language.forbidbtn}}</button>

			<button class="btn">更多</button>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">	
				<li><a href="#" id="refreshwarnerrule">{{language.refreshbtn}}</a></li>
				<li><a href="#" id="warnerrulehelpmessage">{{language.helpmessagebtn}}</a></li>
				<li class="divider"></li>
				<li><a href="#" id="helpmessage">{{language.helpmessagebtn}}</a></li>
			</ul>
		</div>
	</div>
</div>
</Template>

<Template name="warnerrulelist">
	<div style="padding-bottom:8px">
		<span class="label label-info">报警规则列表</span>
	</div>
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr></tr>
			<tr>
				<th><input type="checkbox" id="warnerrulelistselectall"/></th>
				<th>名称</th>
				<th>报警类型</th>
				<th>报警状态</th>
				<th>启动/禁止</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="warnerrulelist">
			{{#each rulelist}}
			<tr>
				<td><input type="checkbox" id="{{nIndex}}"/></td>
				<td>{{AlertName}}</td>
				<td>{{AlertType}}</td>
				<td>{{AlertCategory}}</td>
				<td>{{AlertState}}</td>
				<td>
					<div class="btn-group">
						<button id="{{nIndex}}" class="btn"><i class="icon-edit"></i>编辑</button>
					</div>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	{{{pager}}}
</Template>

<Template name="warnerruleofemail">
	<div id="emailwarnerdiv" class="modal hide fade"
		data-backdrop="true" data-keyboard="true" data-show="false" 
		data-width="800" data-modalOverflow="true"
	>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<label class="label label-info">{{language.warnerrulemodel.addemailwarnerruletitle}}</label>{{ide "warnerrule"}}
		</div>
		<div class="modal-body">
			<div class="row-fluid">
				<div class="span4" style="overflow:auto">
					<ul id="svse_tree_check" class="ztree"></ul>
				</div>
				<div class="span8">
					{{> warnerruleofemailform}}
				</div>
			</div>
		</div>
		<div class="modal-footer" align="right">
			<button class="btn btn-large" id="warnerruleofemailcancelbtn">{{language.warnerrulemodel.cancelemailwarnerrulesettingbtn}}</button>
			<button class="btn btn-primary btn-large" id="warnerruleofemailsavebtn">{{language.warnerrulemodel.saveemailwarnerrulesettingbtn}}</button>
		</div>
	</div>
</Template>

<Template name="warnerruleofemailform">
	<form id="warnerruleofemailform" class="well form-horizontal form-inline">
		<fieldset>
			<label class="label label-info" align="left">设置Email报警</label>
			<div class="control-group">
				<label class="control-label">报警名称:</label>
				<div class="controls">
					<input type="text" name="AlertName">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">邮件接收地址:</label>
				<div class="controls">
					<select class="emailmultiselect" multiple="multiple" name="EmailAdress">
						{{#each emaillist}}
							 <option value="{{Name}}">{{Name}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">其他邮件地址:</label>
				<div class="controls">
					<input type="text" name="OtherAdress">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Email模板:</label>
				<div class="controls">
					<select id="emailtemplatelist" name="EmailTemplate">
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >升级次数:</label>
				<div class="controls">
					<input type="text" name="Upgrade">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >升级接收人地址:</label>
				<div class="controls">
					<input type="text" name="UpgradeTo">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >停止次数:</label>
				<div class="controls">
					<input type="text" name="Stop">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >值班报警列表:</label>
				<div class="controls">
					<select id="emailwatchsheetlist" name="WatchSheet">
						<option value="0">空</option>
					</select>	
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >报警策略:</label>
				<div class="controls">
					<select id="emailalertStrategylist" name="Strategy">
						<option value="0">空</option>
					</select>
				</div>
			</div>
		</fieldset>
	</form>
	
	<div>
		<form class="well form-horizontal form-inline" id="warnerruleofemailformsendconditions">
			<fieldset>
				<label class="label label-info" align="left">发送条件</label>
				<div class="control-group">
					<label class="control-label" >报警事件:</label>
					<div class="controls">
						<input type="radio" name="AlertCategory" value="危险" />危险
						<input type="radio" name="AlertCategory" value="错误" checked />错误
					</div>
				</div>
				
				<div class="row">
					<div class="control-group" style="padding-left:10px;margin:5px">
						<span>
							<input type="radio" name="AlertCond">
						</span>
						<label>连续不断发送警告</label>
					</div>
					<div class="control-group">
						<span style="padding:20px">
							总是发送，从第<input type="text" name="AlwaysTimes" style="width:28px;height:12px" value="1">次符合报警发送条件开始发送报警
						</span>
					</div>
					<div class="control-group" style="padding-left:10px;margin:5px">
						<span>
							<input type="radio" name="AlertCond">
						</span>
						<label>报警只发送一次</label>
					</div>
					<div class="control-group">
						<span style="padding:20px">
							发送一次，当第<input type="text" name="OnlyTimes" style="width:28px;height:12px" value="1">次符合报警发送条件发送报警
						</span>
					</div>
					<div class="control-group" style="padding-left:10px;margin:5px">
						<span class="input-group-addon">
							<input type="radio" name="AlertCond" checked>
						</span>
						<label>选择性发送报警</label>
					</div>
					<div class="control-group">
						<span style="padding:20px">
							当第<input type="text" style="width:28px;height:12px" name="SelTime1" value="2">次符合报警发送条件时及其以后每重复
							<input type="text" style="width:28px;height:12px" name="SelTime2" value="3">次时发送报警
						</span>
					</div>
				</div>
				
			</fieldset>
		</form>
	</div>
</Template>



<Template name="warnerruleofemailedit">
	<div id="emailwarnerdivedit" class="modal hide fade"
		data-backdrop="true" data-keyboard="true" data-show="false" 
		data-width="800" data-modalOverflow="true"
	>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<label class="label label-info">修改Email报警</label>{{ide "warnerrule"}}
		</div>
		<div class="modal-body">
			<div class="row-fluid">
				<div class="span4" style="overflow:auto">
					<ul id="svse_tree_check_edit" class="ztree"></ul>
				</div>
				<div class="span8">
					<form id="warnerruleofemailformedit" class="well form-horizontal form-inline">
						<input type="hidden" name="nIndex" >
						<fieldset>
							<label class="label label-info" align="left">设置Email报警</label>
							<div class="control-group">
								<label class="control-label">报警名称:</label>
								<div class="controls">
									<input type="text" name="AlertName">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">邮件接收地址:</label>
								<div class="controls">
									<select class="emailmultiselectedit" multiple="multiple" name="EmailAdress">
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">其他邮件地址:</label>
								<div class="controls">
									<input type="text" name="OtherAdress">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Email模板:</label>
								<div class="controls">
									<select id="emailtemplatelistedit" name="EmailTemplate">
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" >升级次数:</label>
								<div class="controls">
									<input type="text" name="Upgrade">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" >升级接收人地址:</label>
								<div class="controls">
									<input type="text" name="UpgradeTo">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" >停止次数:</label>
								<div class="controls">
									<input type="text" name="Stop">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" >值班报警列表:</label>
								<div class="controls">
									<select id="emailwatchsheetlistedit" name="WatchSheet">
										<option value="0">空</option>
									</select>	
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" >报警策略:</label>
								<div class="controls">
									<select id="emailalertStrategylistedit" name="Strategy">
										<option value="0">空</option>
									</select>
								</div>
							</div>
						</fieldset>
					</form>
					<div>
						<form class="well form-horizontal form-inline" id="warnerruleofemailformsendconditionsedit">
							<fieldset>
								<label class="label label-info" align="left">发送条件</label>
								<div class="control-group">
									<label class="control-label" >报警事件:</label>
									<div class="controls">
										<input type="radio" name="AlertCategory" value="危险" />危险
										<input type="radio" name="AlertCategory" value="错误" />错误
									</div>
								</div>
								
								<div class="row">
									<div class="control-group" style="padding-left:10px;margin:5px">
										<span>
											<input type="radio" name="AlertCond">
										</span>
										<label>连续不断发送警告</label>
									</div>
									<div class="control-group">
										<span style="padding:20px">
											总是发送，从第<input type="text" name="AlwaysTimes" style="width:28px;height:12px" value="1">次符合报警发送条件开始发送报警
										</span>
									</div>
									<div class="control-group" style="padding-left:10px;margin:5px">
										<span>
											<input type="radio" name="AlertCond">
										</span>
										<label>报警只发送一次</label>
									</div>
									<div class="control-group">
										<span style="padding:20px">
											发送一次，当第<input type="text" name="OnlyTimes" style="width:28px;height:12px" value="1">次符合报警发送条件发送报警
										</span>
									</div>
									<div class="control-group" style="padding-left:10px;margin:5px">
										<span class="input-group-addon">
											<input type="radio" name="AlertCond" checked>
										</span>
										<label>选择性发送报警</label>
									</div>
									<div class="control-group">
										<span style="padding:20px">
											当第<input type="text" style="width:28px;height:12px" name="SelTime1" value="2">次符合报警发送条件时及其以后每重复
											<input type="text" style="width:28px;height:12px" name="SelTime2" value="3">次时发送报警
										</span>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer" align="right">
			<button class="btn btn-large" id="warnerruleofemailcancelbtnedit">{{language.warnerrulemodel.cancelemailwarnerrulesettingbtn}}</button>
			<button class="btn btn-primary btn-large" id="warnerruleofemailsavebtnedit">{{language.warnerrulemodel.saveemailwarnerrulesettingbtn}}</button>
		</div>
	</div>
</Template>

<Template name="warnerloglist">
	<div style="padding-bottom:8px">
		<span class="label label-info">报警日志列表</span>
	</div>
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr></tr>
			<tr>
				<th>报警时间</th>
				<th>报警名称</th>
				<th>设备名称</th>
				<th>监视器名称</th>
				<th>报警类型</th>
				<th>报警接收人</th>
				<th>报警状态</th>
			</tr>
		</thead>
		<tbody id="warnerloglist">
			<!-- {{#each warnerloglist}}
			<tr>
				<td><input type="checkbox" id="{{nIndex}}"/></td>
				<td>{{AlertName}}</td>
				<td>{{AlertType}}</td>
				<td>{{AlertCategory}}</td>
				<td>{{AlertState}}</td>
				<td>
					<div class="btn-group">
						<button id="{{nIndex}}" class="btn"><i class="icon-edit"></i>编辑</button>
					</div>
				</td>
			</tr>
			{{/each}} -->
		</tbody>
	</table>
	
</Template>