<Template name="warnerruleofmessage">
<div class="modal hide fade" 
data-backdrop="true" data-keyboard="true" data-show="false" 
data-width="800" data-height="600" data-maxHeight="500" data-modalOverflow="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<label class="label label-info">{{language.warnerrulemodel.addmessagewarnerruletitle}}</label>{{ide "warnerrule"}}
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span4" style="overflow:auto">
				<ul id="svse_tree_check_addsms" class="ztree"></ul>
			</div>
			<div class="span8">
				{{> warnerruleofmessageform}}
			</div>
		</div>
	</div>
	<div class="modal-footer" align="right">
		<button class="btn btn-large" id="warnerruleofmessagecancelbtn">{{language.warnerrulemodel.cancelemailwarnerrulesettingbtn}}</button>
		<button class="btn btn-primary btn-large" id="warnerruleofmessagesavebtn">{{language.warnerrulemodel.saveemailwarnerrulesettingbtn}}</button>
	</div>
</div>

</Template>

<Template name="warnerruleofmessageform">
<form id="warnerruleofmessageform" class="well form-horizontal form-inline">
	<fieldset>
		<label class="label label-info" align="left">设置短信报警</label>
		<div class="control-group">
			<label class="control-label">报警名称:</label>
			<div class="controls">
				<input type="text" name="AlertName">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">报警接收手机号:</label>
			<div class="controls">
				<select class="messagemultiselect" multiple="multiple" name="SmsNumber">
					{{#each MessageList}}
						 <option value="{{Name}}">{{Name}}</option>
					{{/each}}
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">其他手机号:</label>
			<div class="controls">
				<input type="text" name="OtherNumber">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">发送方式:</label>
			<div class="controls">
				<select id="messageSendModelist" name="SmsSendMode">
					<option value="Web" selected>Web</option>
					<option value="Com">Com</option>
					<option value="SelfDefine">SelfDefine</option>
					<option value="Smsdll.dll">Smsdll.dll</option>
					<option value="Database">Database</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">短信模板:</label>
			<div class="controls">
				<select id="messagetemplatelist" name="SmsTemplate">
				{{#each MessageTemplate}}
					<option value="{{this}}">{{this}}</option>
				{{/each}}
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" >升级次数:</label>
			<div class="controls">
				<input type="text" name="Upgrade" value="0">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" >升级接收人地址:</label>
			<div class="controls">
				<input type="text" name="UpgradeTo">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" >停止次数:</label>
			<div class="controls">
				<input type="text" name="Stop" value="0">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" >值班报警列表:</label>
			<div class="controls">
				<select id="messagewatchsheetlist" name="WatchSheet">
					<option value="0">空</option>
				</select>	
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" >报警策略:</label>
			<div class="controls">
				<select id="messagealertStrategylist" name="Strategy">
					<option value="0">空</option>
				</select>
			</div>
		</div>
	</fieldset>
</form>

<form class="well form-horizontal form-inline" id="warnerruleofmessageformsendconditions">
	<fieldset>
		<label class="label label-info" align="left">发送条件</label>
		<div class="control-group">
			<label class="control-label" >报警事件:</label>
			<div class="controls">
				<input type="radio" name="AlertCategory" value="危险" />危险
				<input type="radio" name="AlertCategory" value="错误" checked />错误
			</div>
		</div>
		<div class="row">
			<div class="control-group" style="padding-left:10px;margin:5px">
				<span>
					<input type="radio" name="AlertCond" value="1">
				</span>
				<label>连续不断发送警告</label>
			</div>
			<div class="control-group">
				<span style="padding:20px">
					总是发送，从第<input type="text" name="AlwaysTimes" style="width:28px;height:12px" value="1">次符合报警发送条件开始发送报警
				</span>
			</div>
			<div class="control-group" style="padding-left:10px;margin:5px">
				<span>
					<input type="radio" name="AlertCond" value="2">
				</span>
				<label>报警只发送一次</label>
			</div>
			<div class="control-group">
				<span style="padding:20px">
					发送一次，当第<input type="text" name="OnlyTimes" style="width:28px;height:12px" value="1">次符合报警发送条件发送报警
				</span>
			</div>
			<div class="control-group" style="padding-left:10px;margin:5px">
				<span class="input-group-addon">
					<input type="radio" name="AlertCond" value="3" checked>
				</span>
				<label>选择性发送报警</label>
			</div>
			<div class="control-group">
				<span style="padding:20px">
					当第<input type="text" style="width:28px;height:12px" name="SelTime1" value="2">次符合报警发送条件时及其以后每重复
					<input type="text" style="width:28px;height:12px" name="SelTime2" value="3">次时发送报警
				</span>
			</div>
		</div>
	</fieldset>
</form>

</Template>

<!--编辑短信报警 -->
<Template name="messagewarnerformedit">
<div class="modal hide fade" 
data-backdrop="true" data-keyboard="true" data-show="false" 
data-width="800" data-height="600" data-maxHeight="500" data-modalOverflow="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<label class="label label-info">编辑短信报警</label>{{ide "warnerrule"}}
	</div>
	
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span4" style="overflow:auto">
				<ul id="svse_tree_check_editsms" class="ztree"></ul>
			</div>
			<div class="span8">
				{{#with MessageWarnerInfo}}
				<form id="warnerruleofmessageformedit" class="well form-horizontal form-inline">
					<input type="hidden" id="getmessagewarnerid" name="nIndex" value="{{MessageWarner.nIndex}}">
					<fieldset>
						<label class="label label-info" align="left">设置短信报警</label>
						<div class="control-group">
							<label class="control-label">报警名称:</label>
							<div class="controls">
								<input type="text" name="AlertName" value="{{MessageWarner.AlertName}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">报警接收手机号:</label>
							<div class="controls">
								<select class="messagemultiselectedit" multiple="multiple" name="SmsNumber" id="warnersmsnumber">
									{{#each MessageList}}
										 <option value="{{Name}}">{{Name}}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">其他手机号:</label>
							<div class="controls">
								<input type="text" name="OtherNumber" value="{{MessageWarner.OtherNumber}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">发送方式:</label>
							<div class="controls">
								<select id="messageSendModelistedit" name="SmsSendMode">
									<option value="Web" {{#if equal MessageWarner.SmsSendMode "Web"}} selected{{/if}}>Web</option>
									<option value="Com" {{#if equal MessageWarner.SmsSendMode "Com"}} selected{{/if}}>Com</option>
									<option value="SelfDefine" {{#if equal MessageWarner.SmsSendMode "SelfDefine"}} selected{{/if}}>SelfDefine</option>
									<option value="Smsdll.dll" {{#if equal MessageWarner.SmsSendMode "Smsdll.dll"}} selected{{/if}}>Smsdll.dll</option>
									<option value="Database" {{#if equal MessageWarner.SmsSendMode "Database"}} selected{{/if}}>Database</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">短信模板:</label>
							<div class="controls">
								<select id="messagetemplatelistedit" name="SmsTemplate">
									{{#each MessageTemplate}}
										<option value="{{this}}">{{this}}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" >升级次数:</label>
							<div class="controls">
								<input type="text" name="Upgrade" value="{{MessageWarner.Upgrade}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" >升级接收人地址:</label>
							<div class="controls">
								<input type="text" name="UpgradeTo" value="{{MessageWarner.UpgradeTo}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" >停止次数:</label>
							<div class="controls">
								<input type="text" name="Stop" value="{{MessageWarner.Stop}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" >值班报警列表:</label>
							<div class="controls">
								<select id="messagewatchsheetlistedit" name="WatchSheet">
									<option value="0">空</option>
								</select>	
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" >报警策略:</label>
							<div class="controls">
								<select id="messagealertStrategylistedit" name="Strategy">
									<option value="0">空</option>
								</select>
							</div>
						</div>
					</fieldset>
				</form>

				<form class="well form-horizontal form-inline" id="warnerruleofmessageformsendconditionsedit">
					<fieldset>
						<label class="label label-info" align="left">发送条件</label>
						<div class="control-group">
							<label class="control-label" >报警事件:</label>
							<div class="controls">
								<input type="radio" name="AlertCategory" value="危险" {{#if equal MessageWarner.AlertCategory "危险"}} checked {{/if}}/>危险
								<input type="radio" name="AlertCategory" value="错误" {{#if equal MessageWarner.AlertCategory "错误"}} checked {{/if}}/>错误
							</div>
						</div>
						
						<div class="row">
							<div class="control-group" style="padding-left:10px;margin:5px">
								<span>
									<input type="radio" name="AlertCond" value="1" {{#if equal MessageWarner.AlertCond "1"}}checked="checked"{{/if}}>
								</span>
								<label>连续不断发送警告</label>
							</div>
							<div class="control-group">
								<span style="padding:20px">
									总是发送，从第<input type="text" name="AlwaysTimes" style="width:28px;height:12px" value="{{MessageWarner.AlwaysTimes}}">次符合报警发送条件开始发送报警
								</span>
							</div>
							<div class="control-group" style="padding-left:10px;margin:5px">
								<span>
									<input type="radio" name="AlertCond" value="2" {{#if equal MessageWarner.AlertCond "2"}}checked="checked"{{/if}}>
								</span>
								<label>报警只发送一次</label>
							</div>
							<div class="control-group">
								<span style="padding:20px">
									发送一次，当第<input type="text" name="OnlyTimes" style="width:28px;height:12px" value="{{MessageWarner.OnlyTimes}}">次符合报警发送条件发送报警
								</span>
							</div>
							<div class="control-group" style="padding-left:10px;margin:5px">
								<span class="input-group-addon">
									<input type="radio" name="AlertCond" value="3" {{#if equal MessageWarner.AlertCond "3"}}checked="checked"{{/if}}>
								</span>
								<label>选择性发送报警</label>
							</div>
							<div class="control-group">
								<span style="padding:20px">
									当第<input type="text" style="width:28px;height:12px" name="SelTime1" value="{{MessageWarner.SelTime1}}">次符合报警发送条件时及其以后每重复
									<input type="text" style="width:28px;height:12px" name="SelTime2" value="{{MessageWarner.SelTime2}}">次时发送报警
								</span>
							</div>
						</div>
					</fieldset>
				</form>
				{{/with}}
			</div>
		</div>
	</div>
	<div class="modal-footer" align="right">
		<button class="btn btn-large" id="editwarnerruleofmessagecancelbtn">{{language.warnerrulemodel.cancelemailwarnerrulesettingbtn}}</button>
		<button class="btn btn-primary btn-large" id="editwarnerruleofmessagesavebtn">{{language.warnerrulemodel.saveemailwarnerrulesettingbtn}}</button>
	</div>
</div>

</Template>
