<Template name="warnerruleofsound">
	<div id="soundwarnerdiv" class="modal hide fade" 
	data-backdrop="true" data-keyboard="true" data-show="false" 
	data-width="800" data-modalOverflow="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<label class="label label-info">添加声音报警</label>{{ide "warnerrule"}}
		</div>
		<div class="modal-body">
			<div class="row-fluid">
				<div class="span4" style="overflow:auto">
					<ul id="svse_tree_check_addsound" class="ztree"></ul>
				</div>
				<div class="span8">
					{{> warnerruleofsoundform}}
				</div>
			</div>
		</div>
		<div class="modal-footer" align="right">
			<button class="btn btn-large" id="warnerruleofsoundcancelbtn">{{language.warnerrulemodel.cancelemailwarnerrulesettingbtn}}</button>
			<button class="btn btn-primary btn-large" id="warnerruleofsoundsavebtn">{{language.warnerrulemodel.saveemailwarnerrulesettingbtn}}</button>
		</div>
	</div>

</Template>

<Template name="warnerruleofsoundform">
	<form id="warnerruleofsoundform" class="well form-horizontal form-inline">
		<fieldset>
			<div class="control-group">
				<label class="control-label">报警名称*:</label>
				<div class="controls">
					<input type="text" class="span6" name="AlertName">
				 </div>
			</div>
			<div class="control-group">
				<label class="control-label">服务器名*:</label>
				<div class="controls">
					<input type="text" class="span6" name="Server" value="127.0.0.1">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">登录名*:</label>
				<div class="controls">
					<input type="text" class="span6" name="LoginName" value="Administrator">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >登陆密码:</label>
				<div class="controls">
					<input type="text" class="span6" name="LoginPwd">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >报警策略:</label>
					<div class="controls">
						<input type="text" class="span6" name="Strategy">
					</div>
			</div>
			
		</fieldset>
	</form>
	
	<div>
		<form class="well form-horizontal form-inline" id="warnerruleofsoundformsendconditions">
			<fieldset>
				<div class="control-group">
				<label class="control-label" >报警事件:</label>
				<div class="controls">
					<input type="radio" name="AlertCategory" value="危险" />危险
					<input type="radio" name="AlertCategory" value="错误" checked />错误
				</div>
			</div>
			</fieldset>
		</form>
	</div>
</Template>

<!--编辑声音报警 -->
<Template name="editwarnerruleofsound">
	<div id="soundwarnerdivedit" class="modal hide fade" 
	data-backdrop="true" data-keyboard="true" data-show="false" 
	data-width="800" data-modalOverflow="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<label class="label label-info">编辑声音报警</label>{{ide "warnerrule"}}
		</div>
		<div class="modal-body">
			<div class="row-fluid">
				<div class="span4" style="overflow:auto">
					<ul id="svse_tree_check_editsound" class="ztree"></ul>
				</div>
				<div class="span8">
					<form id="warnerruleofsoundformedit" class="well form-horizontal form-inline">
						<input type="hidden" name="nIndex" >
						<fieldset>
							<div class="control-group">
								<label class="control-label">报警名称*:</label>
									<div class="controls">
										<input type="text" class="span6" name="AlertName">
									 </div>
							</div>
							<div class="control-group">
								<label class="control-label">服务器名*:</label>
								<div class="controls">
									<input type="text" class="span6" name="Server">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">登录名*:</label>
								<div class="controls">
									<input type="text" class="span6" name="LoginName">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" >登陆密码:</label>
								<div class="controls">
									<input type="text" class="span6" name="LoginPwd">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" >报警策略:</label>
									<div class="controls">
										<input type="text" class="span6" name="Strategy">
									</div>
							</div>
						</fieldset>
					</form>
	
					<div>
						<form class="well form-horizontal form-inline" id="warnerruleofsoundformsendconditionsedit">
							<fieldset>
								<div class="control-group">
								<label class="control-label" >报警事件:</label>
									<div class="controls">
										<input type="radio" name="AlertCategory" value="危险" />危险
										<input type="radio" name="AlertCategory" value="错误" checked/>错误
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
		  	</div>
		</div>
		<div class="modal-footer" align="right">
			<button class="btn btn-large" id="editwarnerruleofscriptcancelbtn">{{language.warnerrulemodel.cancelemailwarnerrulesettingbtn}}</button>
			<button class="btn btn-primary btn-large" id="editwarnerruleofscriptsavebtn">{{language.warnerrulemodel.saveemailwarnerrulesettingbtn}}</button>
		</div>
	</div>
</Template>