<Template name="warnerrule">
<div class="form-horizontal">
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			{{language.addbtn}}
		<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">	
			<li id="emailwarner"><a tabindex="-1" href="#"><i class="icon-envelope"></i> {{language.warnerrulemodel.emailwarner}}</a></li>
			<li id="messagewarner"><a tabindex="-1" href="#" ><i class="icon-signal"></i> {{language.warnerrulemodel.messagewarner}}</a></li>
			<li id="scriptwarner"><a tabindex="-1" href="#"><i class="icon-list-alt"></i> {{language.warnerrulemodel.scriptwarner}}</a></li>
			<li id="scriptwarner"><a tabindex="-1" href="#" id="soundwarner"><i class="icon-volume-up"></i> {{language.warnerrulemodel.soundwarner}}</a></li>
		</ul>
		<button class="btn" id="delwarnerrule">{{language.delbtn}}</button>
	</div>
	<div class="btn-group">
		<button class="btn" id="allowewarnerrule">{{language.allowbtn}}</button>
		<button class="btn" id="forbidwarnerrule">{{language.forbidbtn}}</button>
		<button class="btn" id="refreshwarnerrule">{{language.refreshbtn}}</button>
	</div>
	<div class="btn-group">
		<button class="btn" id="warnerrulehelpmessage">{{language.helpmessagebtn}}</button>
	</div>
</div>
{{> warnerruleofemail}}
</Template>

<Template name="warnerruleofemail">
	<div id="emailwarnerdiv" class="modal hide fade">
		<div class="modal-header">{{language.warnerrulemodel.addemailwarnerruletitle}}</div>
		<div class="modal-body">
			<div class="row-fluid">
				<div class="span4" style="overflow:auto">
					<ul id="svse_tree_check" class="ztree"></ul>
				</div>
				<div class="span8">
					<form>
						<input type="text" /><br/>
						<input type="text" /><br/>
						<input type="text" /><br/>
						<input type="text" /><br/>
						<input type="text" /><br/>
						<input type="text" /><br/>
						<input type="text" /><br/>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer" align="right">
			<button class="btn btn-large" id="warnerruleofemailcancelbtn">{{language.warnerrulemodel.cancelemailwarnerrulesettingbtn}}</button>
			<button class="btn btn-primary btn-large" id="warnerruleofemailsavebtn">{{language.warnerrulemodel.saveemailwarnerrulesettingbtn}}</button>
		</div>
	</div>
</Template>