<Template name="showQuickMonityTemplate">

</Template>
<Template name="showMonityTemplate">
	<table>
		{{#each monities}}
			<tr>
				<td class="span4"><a href="#" id="{{return.id}}">{{property.sv_label}}</a></td>
				<td class="span6">{{property.sv_description}}</td>
			</tr>
		{{/each}}
	</table>
</Template>
<Template name="showMonityInfo">
		<table>
			<tr><td colspan="3" class="span10">基本信息</td></tr>
			<tr>
				<td>设备名称</td>
				<td>{{devicename}}</td>
			</tr>
			{{#each getMonityTemplateParameters}}
				<tr>
					<td>
						{{#unless sv_allownull}}*{{/unless}}{{sv_label}}:
					</td>
					<td>{{createDomeByProperty this}}</td>
				</tr>
			{{/each}}
		</table>
		<table>
			<tr><td colspan="3" class="span10">报警条件</td></tr>
			{{#each getMonityTemplateStates}}
				<tr>
					<td>
					{{sv_label}}:
					</td>
					<td>
					{{createDomeByProperty this}}
					</td>
				</tr>
			{{/each}}
		</table>
		<table>
			<tr><td colspan="3" class="span10">高级选项</td></tr>
			{{#each getMonityTemplateAdvanceParameters}}
				<tr>
					<td>
					{{sv_label}}:
					</td>
					<td>
					{{createDomeByProperty this}}
					</td>
				</tr>
			{{/each}}
		</table>
</Template>