<Template name="showEntityGroup">
	<div class="accordion" id="entityGroupAccordion">
	{{#each entityGroup}}
		{{#unless sv_hidden}}
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#entityGroupAccordion" href="#collapse{{sv_index}}">
                	{{sv_name}}
                </a>
			</div>
			<div id="collapse{{sv_index}}" class="accordion-body collapse">
                <div class="accordion-inner">
                	<table class="table table-striped table-bordered table-condensed">
                		<tbody>
				  			{{#each entityTemplateId}}
							<tr id="{{this}}">
								{{#with getEntityPropertyById this}}
								<td>{{sv_name}}</td><td>{{sv_description}}</td>
								{{/with}}
							</tr>
							{{/each}}
						</tbody>
					</table>
                </div>
            </div>
        </div>
		{{/unless}}
	{{/each}}
	</div>
</Template>

<Template name="showEntity">
	<form id="entityInfo" class="well">
		{{#each getEntityItemsById showEntityId}}
		<label>
			{{#unless sv_allownull}}*{{/unless}}{{sv_label}}:
		</label>{{createDomeByPropertyHelper this}}<br />
		{{/each}}
		<label>*标题:</label><input type="input" name="sv_name" placeholder="请输入标题"/>
		<br />=================<br />
		<label>描述:</label>
		<textarea name="sv_description"></textarea>
		<label>依赖:</label>
		<input type="text" readOnly="readOnly" name="sv_dependson"/><input type="button" class="btn" value="...">
		<label>依靠条件:</label>
		<input type="radio" name="sv_dependscondition" value="1"><span>正常</span>
		<input type="radio" name="sv_dependscondition" value="2"><span>危险</span>
		<input type="radio" name="sv_dependscondition" value="3" checked="checked"><span>错误</span>
		<br />
		<input type="button" class="btn" value="保存" id="addEntity">
		<input type="button" class="btn" value="取消" id="cancel">
	</form>
</Template>

<Template name="showEditEntity">
	<form id="entityEditInfo">
		{{#each getItemsAndDefaultValueBySvIdAndDevicetype entityId}}
		<label>
			{{#unless sv_allownull}}*{{/unless}}{{sv_label}}:
		</label>{{createDomeByPropertyHelper this}}<br />
		{{/each}}
		{{#with property entityId}}
		<label>*标题:</label><input type="input" name="sv_name" value="{{sv_name}}"/>
		<br />=================<br />
		<label>描述:</label>
		<textarea name="sv_description">{{sv_description}}</textarea>
		<label>依赖:</label>
		<input type="text" readOnly="readOnly" name="sv_dependson" value="{{sv_dependson}}"/><input type="button" value="...">
		<label>依靠条件:</label>
		<input type="radio" name="sv_dependscondition" value="1" {{#if equal sv_dependscondition "1"}}checked="checked"{{/if}}><span>正常</span>
		<input type="radio" name="sv_dependscondition" value="2" {{#if equal sv_dependscondition "2"}}checked="checked"{{/if}}><span>危险</span>
		<input type="radio" name="sv_dependscondition" value="3" {{#if equal sv_dependscondition "3"}}checked="checked"{{/if}}><span>错误</span>
		<br />
		<input type="button" class="btn" value="保存" id="saveEntity">
		<input type="button" class="btn" value="取消" id="cancel">
		{{/with}}
	</form>
</Template>

