<Template name="EditEntity">
	<div class="modal hide fade"
		data-backdrop="static" data-keyboard="true" data-show="false" 
		data-maxHeight='500'  data-height="500" data-modalOverflow="true"
	>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<span class="label label-info">设备信息</span>{{ide "showEntityGroup"}}
	</div>
	<div class="modal-body">
		<input type="hidden" value="{{entityId}}">
		<form class="well form-horizontal" submit="return fasle;">
			<fieldset>
				{{#each DynamicEntityItems}}
				<div class="control-group">
					<label class="control-label">{{#unless sv_allownull}}*{{/unless}}{{sv_label}}:</label>
					<div class="controls">
						{{#if equal sv_type "textbox"}}
							<input type="text" name="{{sv_name}}" value="{{sv_value}}" {{#if equal sv_isreadonly "true"}}readonly{{/if}}/>
						{{/if}}

						{{#if equal sv_type "password"}}
							<input type="password" name="{{sv_name}}" value="{{sv_value}}"  {{#if equal sv_isreadonly "true"}}readonly{{/if}} />
						{{/if}}

						{{#if equal sv_type "combobox"}}
							<select name="{{sv_name}}">
								{{#each selects}}				
									<option value="{{value}}" {{#if equal sv_value value}}selected='selected' {{/if}}>{{key}}</option>
								{{/each}}
							</select>
						{{/if}}

						{{#if equal sv_type "textarea"}}
							<textarea name="{{sv_name}}">{{sv_value}}</textarea>
						{{/if}}
					</div>
				</div>
				{{/each}}
				{{#with StaticEnitityItems}}
				<div class="control-group">
					<label class="control-label">*标题:</label>
					<div class="controls">
						<input type="text" name="sv_name" value="{{sv_name}}" placeholder="请输入标题"/>
					</div>
				</div>
				<hr>	
				<div class="control-group">
					<label class="control-label">描述:</label>
					<div class="controls">
						<textarea name="sv_description">{{trim sv_description}}</textarea>
					</div>
				</div>	
				<div class="control-group">
					<label class="control-label">依赖:</label>
					<div class="controls">
						<input type="text" readOnly="readOnly" name="sv_dependson"  value="{{sv_dependson}}"/><input type="button" class="btn" value="...">
					</div>
				</div>	
				<div class="control-group">
					<label class="control-label">依靠条件:</label>
					<div class="controls">
						<label class="radio">
							<input type="radio" name="sv_dependscondition" 
							value="1"{{#if equal sv_dependscondition "1"}}checked="checked"{{/if}}>
							正常
						</label>
						<label class="radio">
							<input type="radio" name="sv_dependscondition" 
							value="2" {{#if equal sv_dependscondition "2"}}checked="checked"{{/if}}>
							危险
						</label>
						<label class="radio">
							<input type="radio" name="sv_dependscondition" 
							value="3" {{#if equal sv_dependscondition "3"}}checked="checked"{{/if}}>
							错误
						</label>
					</div>
				</div>
				{{/with}}
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" id="showEditEntityFormSaveBtn">保存</button>
		<button class="btn" id="showEditEntityFormCancelBtn">取消</button>
	</div>
</div>
</Template>