<Template name="showMonitor"><!--展示监视器信息 -->
	<table class="table table-striped table-bordered table-condensed table-hover">
		<thead>
			<tr>
			    <th><input type="checkbox" id="showMonitorTableSelectAll"></th>
				<th class="span1">状态</th>
				<th>SV_ID</th>
				<th>名称</th>
				<th>描述</th>
				<th>最后更新时间</th>
			</tr>
		</thead>
		<tbody id="showMonitorList">
		{{#each getChildrenNodesByIdAndType entityid "submonitor"}}
			<tr id="{{sv_id}}" title="{{status}}">
			    <td>
			        <input type="checkbox" id="{{sv_id}}">
			    </td>
				<td>{{status}}</td>
				<td>{{sv_id}}</td>
				<td>{{sv_name}}</td>
				<td>{{dstr}}</td>
				<td>{{creat_time}}</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</Template>

<Template name="svg"><!-- svg 图像展示-->
	<div id="showSvg">
		<div class="well">
			<svg id="line"></svg>
		</div>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr><th>返回值</th><th>最大值</th><th>平均值</th><th>最新值</th></tr>
			</thead>
			<tbody id="tableData">
					
			</tbody>
		</table>
		{{>recordsData}}
	</div>
</Template>

<Template name="recordsData"> <!-- 记录统计 -->
	<table class="table table-striped table-bordered table-condensed">
		<tbody>
			{{#with recordsData}}
			<tr><td colspan=3></td><td><button class="btn" id="monitorDetail">详细信息</button></td></tr>
			<tr><td>正常</td><td>{{ok}}</td><td>危险</td><td>{{warning}}</td></tr>
			<tr><td>错误</td><td>{{error}}</td><td>禁止</td><td>{{disable}}</td></tr>
			<tr><td>阀值</td><td colspan=3>测试条件</td></tr>
			<tr><td>时间段</td><td colspan=3></td></tr>
			<tr><td>从</td><td colspan=3>{{starttime}}</td></tr>
			<tr><td>到</td><td colspan=3>{{endtime}}</td></tr>
			{{/with}}
		</tbody>
	</table>

</Template>

<Template name="EntityModule">
	{{> showMonitor}}
	{{> svg}}
</Template>