<Template name="showGroupAdd">
<div id="showGroupAdddiv" class="modal hide fade">
    <div class="modal-header">添加组</div>
	<div class="modal-body">
        <form id="showGroupAddForm">
	        <label>*组名称</label>
	        <input name="sv_name"/>
	        <br>======================</br>
	        <label>描述</label>
	        <textarea name="sv_description"></textarea>
	        <label>依赖</label>
	        <input type="text" readonly="readonly" name="sv_dependson"/><input type="button" value="..."/>
	        <label>依靠条件:</label>
	        <input type="radio" name="sv_dependscondition" value="1"><span>正常</span>
	        <input type="radio" name="sv_dependscondition" value="2"><span>危险</span>
	        <input type="radio" name="sv_dependscondition" value="3" checked="checked"><span>错误</span>
        </form>
    </div>
    <div class="modal-footer" align="right">
		<input type="button" class="btn btn-primary" value="保存" id="showGroupAddFormSaveBtn"/>
		<input type="button" class="btn" value="取消" id="showGroupAddFormCancelBtn"/>
	</div>
</div>
</Template>


<Template name="showGroupEdit">
<div id="showGroupEditdiv" class="modal hide fade">
    <div class="modal-header">添加组</div>
	<div class="modal-body">
        <form id="showGroupEditForm">
	        {{#with getGroup}}
	        <label>*组名称</label>
	        <input name="sv_name" value="{{sv_name}}"/>
	        <br>======================</br>
	        <label>描述</label>
	        <textarea name="sv_description">{{sv_description}}</textarea>
	        <label>依赖</label>
	        <input type="text" readonly="readonly" name="sv_dependson" value="{{sv_dependson}}"/><input type="button" value="..."/>
	        <label>依靠条件:</label>
	        <input type="radio" name="sv_dependscondition" value="1" {{#if equal sv_dependscondition "1"}}checked="checked"{{/if}}><span>正常</span>
	        <input type="radio" name="sv_dependscondition" value="2" {{#if equal sv_dependscondition "2"}}checked="checked"{{/if}}><span>危险</span>
	        <input type="radio" name="sv_dependscondition" value="3" {{#if equal sv_dependscondition "3"}}checked="checked"{{/if}}><span>错误</span>
	        {{/with}}
        </form>
    </div>
     <div class="modal-footer" align="right">
		<input type="button" class="btn btn-primary" value="保存" id="showGroupEditFormSaveBtn"/>
		<input type="button" class="btn" value="取消" id="showGroupEditFormCancelBtn"/>
	</div>
</Template>
