<Template name="GroupAdd">
<div class="modal hide fade">
    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<label class="label label-info">添加组</label>
    </div>
	<div class="modal-body">
        <form id="showGroupAddForm" class="well form-horizontal">
	        <label>*组名称</label>
	        <input name="sv_name"/>
	        <br>======================</br>
	        <label>描述</label>
	        <textarea name="sv_description"></textarea>
	        <label>依赖</label>
	        <input type="text" readonly="readonly" name="sv_dependson"/><input type="button" value="..."/>
	        <label>依靠条件:</label>
	        <input type="radio" name="sv_dependscondition" value="1"><span>正常</span>
	        <input type="radio" name="sv_dependscondition" value="2"><span>危险</span>
	        <input type="radio" name="sv_dependscondition" value="3" checked="checked"><span>错误</span>
        </form>
    </div>
    <div class="modal-footer" align="right">
		<input type="button" class="btn btn-primary" value="保存" id="showGroupAddFormSaveBtn"/>
		<input type="button" class="btn" value="取消" id="showGroupAddFormCancelBtn"/>
	</div>
</div>
</Template>