<Template name = "showMonitorDetailSvg">
	<div id="showMonitorDetailSvgDiv" 
	class="modal hide fade"
	data-backdrop="true" data-keyboard="true" data-show="false" 
	data-width="800" data-modalOverflow="true"
	>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<label class="label label-info">详细信息</label>
			{{ide "showMonitorDetailSvg"}}
		</div>
		<div class="modal-body">
			<div class="well">
				<ul class="breadcrumb">
				  <li><a href="###" name='{"hours":-2}'>2小时</a><span class="divider"></span></li>
				  <li><a href="###" name='{"hours":-4}'>4小时</a><span class="divider"></span></li>
				  <li><a href="###" name='{"hours":-8}'>8小时</a></li>
				  <li><a href="###" name='{"days":-1}'>1天</a></li>
				  <li><a href="###" name='{"days":-2}'>2天</a></li>
				  <li><a href="###" name='{"days":-3}'>3天</a></li>
				  <li><a href="###" name='week'>本周</a></li>
				  <li><a href="###" name='{"days":-7}'>一周</a></li>
				  <li><a href="###" name='{"months":-1}'>1个月</a></li>
				  <li><a href="###" name='{"months":-2}'>2个月</a></li>
				  <li><a href="###" name='{"months":-6}'>6个月</a></li>
				  <li><a href="###" name='today'>当天</a></li>
				</ul>
				<div class="form-inline">
					<span>{{language.startTime}}:</span>
					<div id="datetimepickerStartDate" class="input-append date">
				      <input type="text" readOnly="readonly" />
				      <span class="add-on">
				        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				      </span>
				    </div>
					<span>{{language.endTime}}:</span>
					<div id="datetimepickerEndDate" class="input-append date">
				      <input type="text" readOnly="readonly" />
				      <span class="add-on">
				        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				      </span>
				    </div>
					<button id="queryDetailLineData" class="btn">查询</button>
				</div>
			</div>
			<div class="well" style="padding:0px;margin-bottom:0px;">
				<svg id="detailLine"></svg>
			</div>
		</div>
	</div>
</Template>