<Template name="operateNode"><!--增删改操作 -->
	<div class="form-horizontal">
		{{#if sv_name}}
		<div class="row-fluid" style="height:20px">
			<div class="span3">
				<span class="label label-info">{{sv_name}}</span>
			</div>
			{{#with statisticalData}}
			<div class="span6 pull-right">
			 	<ul class="unstyled inline">
					<li>
						<img src="imag/status/entity.png"/>设备()
					</li>
					<li>
						<img src="imag/status/monitor.png"/>
						<a href="#" title="false">监视器()</a>
					</li>
					<li>
						<img src="imag/status/ok.png"/>
						<a href="#" title="ok">正常({{ok}})</a>
					</li>
					<li>
						<img src="imag/status/error.png"/>
						<a href="#" title="error">错误({{error}})</a>
					</li>
					<li>
						<img src="imag/status/warning.png"/>
						<a href="#" title="warning">危险({{warning}})</a>
					</li>
					<li>
						<img src="imag/status/disable.png"/>
						<a href="#" title="disable">禁止({{disable}})</a>
					</li>
				</ul>
			</div>
			{{/with}}
		</div>
		<div class="btn-toolbar">
			<div class="btn-group">
				<button class="btn" id="backLayer">
					<i class=" icon-arrow-up"></i>上一层
				</button>
			{{#if equal type "entity"}}
				<button class="btn" id="addMonitor">添加监视器</button>
				<button class="btn" id="editMonitor">编辑监视器</button>
				<button class="btn">更多</button>
				<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right">	
				    <li>
				    	<a href="#" id="allowMonitor">
				    		<i class="icon-ok"></i>启用</a>
				    </li>
					<li>
						<a href="#" id="forbidMonitor">
							<i class="icon-remove"></i>禁用
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#" id="deleteMonitor">
							<i class="icon-trash"></i>删除监视器
						</a>
					</li>
				</ul>
			{{else}}
				<button class="btn" id="addGroup">增加组</button>
				<button class="btn" id="addEntity">增加设备</button>
				<button class="btn">更多</button>
				<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right">
					<li>
						<a href="#" id="allowGroup">
							<i class="icon-ok"></i>启用
						</a>
					</li>
					<li>
						<a href="#" id="forbidGroup">
							<i class="icon-remove"></i>禁用</a>
						</li>
					<li class="divider"></li>
					<li>
						<a href="#" id="removeNodes">
							<i class="icon-trash"></i>删除
						</a>
					</li>
				</ul>
			{{/if}}
			</div>
			<div class="btn-group">
				<button class="btn" id="refresh">
					<i class="icon-refresh"></i>刷新
				</button>
			</div>
		</div>
		{{/if}}
	</div>
</Template>