<Template name="operateNode"><!--增删改操作 -->
	<div class="form-horizontal">
		{{#if sv_name}}
		<div class="row-fluid" style="height:20px">
			<div class="span3">
				<span class="label label-info">{{sv_name}}</span>{{ide "operateNode"}}
			</div>
			{{#with statisticalData}}
			<div class="span6 pull-right"  style="text-align:right">
			 	<ul class="unstyled inline">
			 		{{#if entity}}
					<li>
						<img src="imag/status/entity.png"/>设备({{entity}})
					</li>
					{{/if}}
					<li>
						<img src="imag/status/monitor.png"/>
						<a href="#" title="false">监视器({{monitor}})</a>
					</li>
					<li>
						<img src="imag/status/ok.png"/>
						<a href="#" title="ok">正常({{ok}})</a>
					</li>
					<li>
						<img src="imag/status/error.png"/>
						<a href="#" title="bad">错误({{bad}})</a>
					</li>
					<li>
						<img src="imag/status/warning.png"/>
						<a href="#" title="warning">危险({{warning}})</a>
					</li>
					<li>
						<img src="imag/status/disable.png"/>
						<a href="#" title="disable">禁止({{disable}})</a>
					</li>
				</ul>
			</div>
			{{/with}}
		</div>
		<div class="btn-toolbar">
			<div class="btn-group">
				<button class="btn" id="backLayer">
					<i class=" icon-arrow-up"></i>上一层
				</button>
			{{#if equal type "entity"}}
				{{#if isNodeEnabled sv_id "addMonitor"}}
				<button class="btn" id="addMonitor"><i class="icon-plus"></i>添加监视器</button>
				{{/if}}
			<!--	<button class="btn" id="editMonitor">编辑监视器</button> -->
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					更多
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right">
					{{#if isNodeEnabled sv_id "enableMul"}}	
				    <li>
				    	<a href="#" id="allowMonitor">
				    		<i class="icon-ok"></i>启用</a>
				    </li>
					{{/if}}
					{{#if isNodeEnabled sv_id "foribedMul"}}
					<li>
						<a href="#" id="forbidMonitor">
							<i class="icon-remove"></i>禁用
						</a>
					</li>
					{{/if}}
					{{#if isNodeEnabled sv_id "deleteMonitor"}}
					<li class="divider"></li>
					<li>
						<a href="#" id="deleteMonitor">
							<i class="icon-trash"></i>删除监视器
						</a>
					</li>
					{{/if}}
				</ul>
			{{else}}
			 	{{#if isNodeEnabled sv_id "addGroup"}}
				<button class="btn" id="addGroup">
					<i class="icon-plus"></i>增加组
				</button>
				{{/if}}
				{{#if isNodeEnabled sv_id "addEntity"}}
				<button class="btn" id="addEntity"><i class="icon-plus"></i>增加设备</button>
				{{/if}}
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					更多
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right">
					{{#if isNodeEnabled sv_id "enableMul"}}
					<li>
						<a href="#" id="enabledEquipments">
							<i class="icon-ok"></i>启用
						</a>
					</li>
					{{/if}}
					{{#if isNodeEnabled sv_id "foribedMul"}}
					<li>
						<a href="#" id="forbidEquipments">
							<i class="icon-remove"></i>禁用
						</a>
					</li>
					{{/if}}
					{{#if isNodeEnabled sv_id "deleteMul"}}
					<li class="divider"></li>
					<li>
						<a href="#" id="removeEquipments">
							<i class="icon-trash"></i>删除
						</a>
					</li>
					{{/if}}
				</ul>
			{{/if}}
			</div>
			<div class="btn-group">
				<button class="btn" id="refresh">
					<i class="icon-refresh"></i>刷新
				</button>
			</div>
			<div class="pull-right">
				<label class="checkbox">
			      	每页
			      	<select class="input-small">
					  <option value="10"  {{#if equals PERPAGE 10}}selected{{/if}}>10</option>
					  <option value="20"  {{#if equals PERPAGE 20}}selected{{/if}}>20</option>
					  <option value="30"  {{#if equals PERPAGE 30}}selected{{/if}}>30</option>
					  <option value="50"  {{#if equals PERPAGE 50}}selected{{/if}}>50</option>
					  <option value="5"   {{#if equals PERPAGE 5}}selected{{/if}}>100</option>
					</select>
					条
			    </label>	
			</div>
		</div>
		{{/if}}
	</div>
</Template>