<Template name="showQuickMonityTemplate">
	<div class="modal hide"
		data-backdrop="static" data-keyboard="true" data-show="false" 
		data-modalOverflow="true" data-maxHeight='600'>
	    <div class="modal-header">添加监视器</div>
		<div class="modal-body" style="max-height:600px;overflow:auto">
			<input type="hidden" value="{{addedEntityId}}"/>
			{{#each monitors}}
				<div class="QuickMonitorDynamicService">
					<div class="QuickMonitorDynamicServiceSelectParent">
						<input type="checkbox" id="MonitorDynamicPropertyCheckBox{{return.id}}" data-id="{{return.id}}"
							data-name="{{property.sv_name}}" data-extra="{{property.sv_extrasave}}"
						 >
						{{property.sv_description}}
					</div>
					<div class="QuickMonitorDynamicServiceSelectChildren" style="max-height:200px;overflow:auto">
						<div>
							{{#if isDynamicProperty}}
								{{#each DynamicProperties}}
								<p style="margin-left:20px">
									<input type="checkbox" value="{{this}}"><span>{{this}}</span>
								</p>
								{{/each}}
								{{else}}
								<p style="margin-left:20px">
									<input type="checkbox" value="{{property.sv_name}}"/>
									<span>{{property.sv_name}}</span>
								</p>
							{{/if}}
							
						</div>
					</div>
				</div>
			{{/each}}
		</div>
		<div class="modal-footer">	
			<button id="chooseallqucikmonitor" class="btn">全选</button>
			<button id="unchooseallqucikmonitor" class="btn">反选</button>
			<button id="showQuickMonityTemplateSaveBtn" class="btn btn-primary">{{language.save}}</button>
			<button id="showQuickMonityTemplateCancelBtn" class="btn">{{language.cancel}}</button>
		</div>
	</div>
</Template>