<Template name="showQuickMonityTemplate">
	<div id="showQuickMonityTemplatediv" class="modal hide"
		data-backdrop="static" data-keyboard="true" data-show="false" 
		data-modalOverflow="true" data-maxHeight='600'>
	    <div class="modal-header">添加监视器{{ide "showQuickMonityTemplate"}}</div>
		<div class="modal-body" style="max-height:600px;overflow:auto">
			{{> QuickMonitorDynamicService}}
		</div>
		<div class="modal-footer">	
			<button id="chooseallqucikmonitor" class="btn">全选</button>
			<button id="unchooseallqucikmonitor" class="btn">反选</button>
			<!---->
			<button id="showQuickMonityTemplateSaveBtn" class="btn btn-primary">{{language.save}}</button>
			<button id="showQuickMonityTemplateCancelBtn" class="btn">{{language.cancel}}</button>
		</div>
	</div>
</Template>
<Template name="QuickMonitorDynamicService">
	{{#each monities}}
		<div id="QuickMonitorDynamicService">
			<div><input type="checkbox" id="MonitorDynamicPropertyCheckBox{{return.id}}">{{property.sv_description}}</div>
			<div style="max-height:200px;overflow:auto">
				<div id="MonitorDynamicProperty{{return.id}}">
					<p><input type="checkbox" value="{{property.sv_name}}"><span>{{property.sv_name}}</span></p>
				</div>
			</div>
		</div>
	{{/each}}
</Template>
<Template name="QuickMonitorDynamicServiceBackup">
	<table class="table table-striped table-bordered table-condensed">
		<tbody id="quickMonitorList">
		{{#each monities}}
			<tr>
				<td class="span1"><input type="checkbox" id="{{return.id}}"></td>
				<td><a href="#">{{property.sv_label}}</a></td>
				<td>{{property.sv_description}}</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</Template>
<Template name="QuickMonitorDynamicProperty">
	{{#each DynamicProperties}}
		<p><input type="checkbox" id="{{this}}"><span>{{this}}</span></p>
	{{/each}}
</Template>