hr{
	margin:10px 0;
}

.createInputDomStyle{
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
.createInputDomStyle-input{
	width: 206px;
}
.createInputDomStyle-textarea{
	 height: auto;
}
.table.table-hover thead th {
  text-align: center;
}
.table.table-hover tbody td {
  text-align: center;
  vertical-align:middle;
  height: 21px;
  font-size: 12px;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none; /* you could also put this in a class */
  -webkit-user-select:none;/* and add the CSS class here instead */
  -ms-user-select:none;
  user-select:none;/**禁止选中文字*/
}
.table.table-hover tbody tr{
  height: 29px;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none; /* you could also put this in a class */
  -webkit-user-select:none;/* and add the CSS class here instead */
  -ms-user-select:none;
  user-select:none;/**禁止选中文字*/
}
body{
	height: 100%;
}

#moitorContentTree{
	padding-left: 0px;
}

.select-checkbox{
  width: 15px;
}

.imag-status{
  width: 30px;
}
.unstyled.inline li{
  vertical-align:middle;
  height: 30px;
}
.descriptTd{
   overflow: hidden;
   max-height: 21px;
   max-width: 745px;
}

/*
*监视器状态过滤背景色
*/
.monitor_status_filter{
  background-color: #84C909
}

/*监视器详细信息 时间段样式*/
.breadcrumb li{
  margin-left: 20px;
}
.breadcrumb{
  margin-bottom: 0px;
}

