.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/*
	Type：add
	Author：xuqiang
	Date:2013-12-19 11:20
	Content:增加了画图的样式
*/ 

.trendLine {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

.moresvg{
  margin: 20px;
}


/**折线统计图的字体大小*/
.axis text{
  font-size:10px;
}

/**饼状图*/
.arc path {
  stroke: #fff;
  stroke-width:1;
}
.arc text{
  font-size: 11.844px;
  font-weight: bold;
  fill: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}