/*
	Type：add 
	Author：xuqiang
	Date:2013-10-30 09:40
	Content:增加右键树的样式
	===============================
	Type：add 
	Author：xuqiang
	Date:2013-11-07 
	Content:增加表单提示信息显示的样式
*/
/*标题提示文字定义*/
div#tooltip {
	position:absolute; 
	z-index:1000; 
	max-width:140px; 
	width:auto!important; 
	width:auto; 
	background:#FFF; 
	border:#86A4BE
	solid 1px; 
	text-align:left; 
	padding:1px;
}
div#tooltip p { 
	margin:0;
	padding:0; 
	color:#86A4BE;
	font:12px verdana,arial,serif;
}

div#rMenu {
	position:absolute; 
	visibility:hidden; 
	top:0; 
	text-align:left;
	padding: 2px;
}
div#rMenu ul li{
	text-align:left;
	margin: 0;
	padding: 0 ;
	cursor: pointer;
	list-style: none ;
	font-size:10px;
}

div#rMenu {
	text-align: left;
	padding:0px;
	position:absolute;
	display:block;
}
div#rMenu ul {
	margin:1px 0;
	padding:0 3px;
	list-style: none outside none;
	display:block;
}
div#rMenu ul li a{
	height:15px;
	padding-bottom:5px;
}


div#emailWarnerruleRMenu{
	z-index:1200;
	text-align: left;
	position:absolute;
	display:block;
	top:0; 
	text-align:left;
	padding: 0px;
}

div#emailWarnerruleRMenu ul {
	margin:1px 0;
	padding:0 3px;
	list-style: none outside none;
	display:block;
}
div#emailWarnerruleRMenu ul li{
	text-align:left;
	margin: 0;
	padding: 0 ;
	cursor: pointer;
	list-style: none ;
	font-size:10px;
}
div#emailWarnerruleRMenu ul li a{
	height:15px;
	padding-bottom:5px;
}
