/*
	Type：add 
	Author：xuqiang
	Date:2013-10-30 09:40
	Content:增加右键树的样式
	===============================
	Type：add 
	Author：xuqiang
	Date:2013-11-07 
	Content:增加表单提示信息显示的样式
*/
/*标题提示文字定义*/
div#tooltip {
	position:absolute; 
	z-index:1000; 
	max-width:140px; 
	width:auto!important; 
	width:auto; 
	background:#FFF; 
	border:#86A4BE
	solid 1px; 
	text-align:left; 
	padding:1px;
}
div#tooltip p { 
	margin:0;
	padding:0; 
	color:#86A4BE;
	font:12px verdana,arial,serif;
}

div#rMenu {
	background-color:#555555;
	text-align: left;
	padding:2px;
	width:100px;
	position:absolute;
	display:none;
}
div#rMenu ul {
	margin:1px 0;
	padding:0 5px;
	cursor: pointer;
	list-style: none outside none;
	background-color:#DFDFDF;
	display:none;
}
div#rMenu ul li {
	margin:0;
	padding:2px 0;
}
