.box{
border: 1px solid #DEDEDE;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
margin-top: 10px; 
margin-bottom: 10px ;
box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

.box-header{
border:none;

border-bottom: 1px solid #DEDEDE;
border-radius:3px 3px 0 0;
-webkit-border-radius:3px 3px 0 0;
-moz-border-radius:3px 3px 0 0;
height:26px;
min-height:12px;
margin-bottom: 0;
cursor:move;
font-weight:bold;
font-size:10px;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000',GradientType=0 );

}

.box-header a{
clear:none;
float:left;
margin:0 2px;
height: 10px;
margin-top: -1px;
font-size:10px;
padding:5px;
}

.nav1{float:left;position:relative;}
.nav1 ul{font-size:0;background:#000000;padding:0px;}
.nav1 ul li{list-style-type:none;padding-bottom:5px;color:#fff;font-size:10px;padding:0 20px;height:34px;line-height:34px;position:relative;}
.nav1 ul li a{border-bottom:dashed 1px #000000;display:block;margin:0 auto;width:100px;}
.nav1 ul li.hover_bg{background:#000000;}
.nav1 .Secon_Dary{background:#000000;position:absolute;right:-140px;top:0;padding-bottom:30px;display:none;}
.nav1 .Secon_Dary p{padding:0 20px;}
.nav1 .Secon_Dary a{display:block;height:34px;line-height:34px;color:#fff;border-bottom:dashed 1px #E67A92;}
.nav1 a{cursor:pointer;}

.alertlogquerycondition label{
	font-size:12px;
}