<Template name="DomCreateFactory">
	{{#if equal type "input"}}
		<input type="input" 
				class="createInputDomStyle createInputDomStyle-input" 
				name="{{name}}" 
				value="{{value}}" 
				{{#if readonly}}
				readonly = {{readonly}}
				{{/if}}
		/>
	{{/if}}
	{{#if equal type "passwd"}}
		<input type="password" 
				class="createInputDomStyle createInputDomStyle-input" 
				name="{{name}}" 
				value="{{value}}" 
				{{#if readonly}}
				readonly = {{readonly}}
				{{/if}}
		/>
	{{/if}}
	{{#if equal type "select"}}
		<select name="{{name}}" {{#if clazz}}class="{{clazz}}"{{/if}}>
			{{#each selects}}
				<option value="{{this.value}}"
				{{#if equal this.value defaultValue}}selected="selected"{{/if}}
				>{{this.key}}</option>
			{{/each}}
		</select>
	{{/if}}
	{{#if equal type "textarea"}}
		<textarea name="{{name}}" {{#if readonly}}readonly = {{readonly}}{{/if}} >{{value}}</textarea>
	{{/if}}
</Template>