<Template name="basicsetting">
	<div class="form-horizontal">
	<span class="label label-info">基本设置</span>{{ide "basicsetting"}}
	<br/>
	<span class="label label-info">基本设置详细信息</span>
	<div  class="controls">	
		<div class="controls">
			<input type="checkbox" nmae="isornochexk" />是否需要IP验证
		</div>
		<br/>
		<div class="controls">
			<lable>允许访问IP地址：</lable>
			<input type="text" name="allowvisitIP" />
		</div>
		<br/>
		<div class="controls">
			<button class="btn" id="addbasicsetting">{{language.BasicModel.applybtn}}</button>
			<button class="btn" id="delbasicsetting">{{language.BasicModel.againgetbtn}}</button>
			<button class="btn" id="allowbasicsetting">{{language.BasicModel.helpbtn}}</button>
		</div>
	</div>
	<br/>
{{> tuipuinfo}}

{{ide "basicsetting"}}
</div>

</Template>

<Template name="tuipuinfo">
	<div class="form-horizontal">
	<span class="label label-info">拓扑信息</span>
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr></tr>
			<tr>
				<th>{{language.status}}</th>
				<th>{{language.BasicModel.bordercolor}}</th>
				<th>{{language.BasicModel.borderwidth}}</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="tuopusettinglist">
			<tr>
				<td>错误</td>
				<td>
				<table>
					<tbody>
						<tr valign="top">
							<td  align="left">
							<input value="red" type="text" readonly="readonly">
							</td>
							<td align="left"><input style="width:33px" type="color" name="errorcolor" value="#ff0000"/></td>
						</tr>
					</tbody>
				</table>
				</td>
				<td>
					<input type="number" name="points" min="0" max="6" step="1" value="1" />
				</td>
				
			</tr>
			<tr>
				<td>危险</td>
				<td>
				<table>
					<tbody>
						<tr valign="top">
							<td  align="left">
							<input value="yellow" type="text" readonly="readonly">
							</td>
							<td align="left"><input style="width:33px" type="color" name="warncolor" value="#ffff00"/></td>
						</tr>
					</tbody>
				</table>
				</td>
				<td>
					<input type="number" name="points" min="0" max="6" step="1" value="1" />
				</td>
				
			</tr>
			<tr>
				<td>正常</td>
				<td>
				<table>
					<tbody>
						<tr valign="top">
							<td  align="left">
							<input value="green" type="text" readonly="readonly">
							</td>
							<td align="left"><input style="width:33px" type="color" name="normalcolor" value="#00ff00"/></td>
						</tr>
					</tbody>
				</table>
				</td>
				<td>
					<input type="number" name="points" min="0" max="6" step="1" value="1" />
				</td>
				
			</tr>
		</tbody>
	</table>
	
	<div class="controls">
			<button class="btn" id="applysetting">{{language.BasicModel.applybtn}}</button>
			<button class="btn" id="previewsetting">{{language.BasicModel.previewbtn}}</button>
			<button class="btn" id="helpsetting">{{language.BasicModel.recoverdefaultbtn}}</button>
	</div>	
			
	</div>

</Template>