<Template name="emailsetting">
<div class="form-horizontal">
	<div class="btn-group">
		<button class="btn" id="addemailsetting">{{language.addbtn}}</button>
		<button class="btn" id="delemailsetting">{{language.delbtn}}</button>
	</div>
	<div class="btn-group">
		<button class="btn" id="allowemailsetting">{{language.allowbtn}}</button>
		<button class="btn" id="forbidemailsetting">{{language.forbidbtn}}</button>
		<button class="btn" id="refreshemailsetting">{{language.refreshbtn}}</button>
	</div>
	<div class="btn-group">
		<button class="btn" id="emailtemplatesetting">{{language.templatesettiongbtn}}</button>
		<button class="btn" id="emailhelpmessage">{{language.helpmessagebtn}}</button>
	</div>
</div>
<br />
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th><input type="checkbox" id="emailsettingtableselectall">   {{language.nameTh}}</th><th>{{language.statusTh}}</th><th>{{language.emailTh}}</th><th>{{language.optionTh}}</th>
			</tr>
		</thead>
		<tbody id="emailSettingList">
			{{#each emaillist}}
			<tr>
				<td><input type="checkbox" id="{{nIndex}}">  {{Name}}</td><td>{{bCheck}}</td><td>{{MailList}}</td><td><button id="{{nIndex}}" class="btn"><i class="icon-edit"></i> {{language.emailsettingmodel.editbtn}}</button></td>
			</tr>
			{{/each}}
		</tbody>
</table>
<form id="emailbasicsetting" class="well form-horizontal" onsubmit="return false;">
 <fieldset>
    <legend>{{language.basicsettiontilte}}</legend>
    <div class="control-group">
      <label class="control-label">{{language.emailsettingmodel.sendserverSMTPlab}}:</label>
      <div class="controls">
        <input type="text" class="span4" name="server">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">{{language.emailsettingmodel.sendemailAddresslab}}:</label>
      <div class="controls">
        <input type="text" class="span4" name="from">
      </div>
	</div>
	<div class="control-group">
      <label class="control-label">{{language.emailsettingmodel.sendbackupserverlab}}:</label>
      <div class="controls">
        <input type="text" class="span4" name="backupserver">
      </div>
    </div>
	<div class="control-group">
      <label class="control-label">{{language.emailsettingmodel.usernamelab}}:</label>
      <div class="controls">
        <input type="text" class="span4" name="user">
      </div>
    </div>
	<div class="control-group">
      <label class="control-label" >{{language.emailsettingmodel.passwordlab}}:</label>
      <div class="controls">
        <input type="password" class="span4" name="password">
      </div>
    </div>
	<div class="form-actions">
		<button class="btn btn-primary" id="emailbasicsettingapplybtn">{{language.emailsettingmodel.applybtn}}</button>
		<button class="btn" id="emailbasicsettingtestbtn">{{language.emailsettingmodel.testbtn}}</button>
	</div>
  </fieldset>
</form>
{{> emailbasicsettingofaddress}}
{{> emailbasicsettingofaddressedit}}
</Template>

<Template name="emailbasicsettingofaddress">
	<div id="emailaddresssettingdiv" class="modal hide fade">
		<div class="modal-header">邮件地址设置</div>
		<div class="modal-body">
			<form class="well form-horizontal form-inline" id="emailbasicsettingofaddressbasciinfo">
				<fieldset>
					<span class="label label-info">基本选项</span><br /><br />
					<div class="control-group">
					  <label class="control-label">*名称:</label>
					  <div class="controls">
						<input type="text"  name="Name">
					  </div>
					</div>
					<div class="control-group">
					  <label class="control-label">*接收Email地址:</label>
					  <div class="controls">
						<input type="text"  name="MailList">
					  </div>
					</div>
					<div class="control-group">
					  <label class="control-label">状态:</label>
					  <div class="controls">
						<label class="radio">
							<input type="radio"  name="bCheck" value="0" checked> 允许
						</label>
						<label class="radio">
							<input type="radio"  name="bCheck" value="1"> 禁止
						</label>
					  </div>
					</div>
					<span class="label label-info">高级选项</span><br /><br />
					<div class="control-group">
						<label class="control-label">Email模板:</label>
						<div class="controls">
							<select id="emailbasicsettingofaddressemailtemplatelist" name="Template">
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">任务计划类型:</label>
						<div class="controls">
							<select name="TaskType">
								<option value="1" checked>时间段计划</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">任务计划:</label>
						<div class="controls">
							<select name="Schedule">
								<option value="5x8" checked>5x8</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">描述:</label>
						<div class="controls">
							<textarea class="input-xlarge" name="Des" rows="3"></textarea>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="modal-footer" align="right">
			<button class="btn btn-large" id="emailbasicsettingofaddresscancelbtn">取消</button>
			<button class="btn btn-primary btn-large" id="emailbasicsettingofaddresssavebtn">保存</button>
		</div>
	</div>
</Template>


<Template name="emailbasicsettingofaddressedit">
	<div id="emailaddresssettingdivedit" class="modal hide fade">
		<div class="modal-header">邮件地址设置</div>
		<div class="modal-body">
			{{#with emailbasicsettingofaddressbasciinfoeditform}}
			<form class="well form-horizontal form-inline" id="emailbasicsettingofaddressbasciinfoedit">
				<input type="hidden" name="nIndex" value="{{nIndex}}">
				<fieldset>
					<span class="label label-info">基本选项</span><br /><br />
					<div class="control-group">
					  <label class="control-label">*名称:</label>
					  <div class="controls">
						<input type="text"  name="Name" value="{{Name}}">
					  </div>
					</div>
					<div class="control-group">
					  <label class="control-label">*接收Email地址:</label>
					  <div class="controls">
						<input type="text"  name="MailList" value="{{MailList}}">
					  </div>
					</div>
					<div class="control-group">
					  <label class="control-label">状态:</label>
					  <div class="controls">
						<label class="radio">
							<input type="radio"  name="bCheck" value="0"> 允许
						</label>
						<label class="radio">
							<input type="radio"  name="bCheck" value="1"> 禁止
						</label>
					  </div>
					</div>
					<span class="label label-info">高级选项</span><br /><br />
					<div class="control-group">
						<label class="control-label">Email模板:</label>
						<div class="controls">
							<select id="emailbasicsettingofaddressemailtemplatelistedit" name="Template">
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">任务计划类型:</label>
						<div class="controls">
							<select name="TaskType">
								<option value="1" checked>时间段计划</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">任务计划:</label>
						<div class="controls">
							<select name="Schedule">
								<option value="5x8" checked>5x8</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">描述:</label>
						<div class="controls">
							<textarea class="input-xlarge" name="Des" rows="3">{{Des}}</textarea>
						</div>
					</div>
				</fieldset>
			</form>
			{{/with}}
		</div>
		<div class="modal-footer" align="right">
			<button class="btn btn-large" id="emailbasicsettingofaddresscancelbtnedit">取消</button>
			<button class="btn btn-primary btn-large" id="emailbasicsettingofaddresssavebtnedit">保存</button>
		</div>
	</div>
</Template>