<Template name="messagesetting">
{{>messagesettingopratebtn}}
<br/>
{{> messagesettingList}}
<hr/>
{{> sendingmessagemethods}}
{{> messagebasicsettingofadd}}
{{> editmessagebasicsetting}}
{{> confirmTipModal}}
{{ide messagesetting}}
</Template>

<Template name="messagesettingopratebtn">
<div class="form-horizontal">
	<span class="label label-info">短信设置</span>{{ide "messagesetting"}}
	<div  class="btn-toolbar">
		<div class="btn-group">
			<button class="btn" id="addmessagesetting">{{language.addbtn}}</button>
			<button class="btn" id="delmessagesetting">{{language.delbtn}}</button>
		</div>
		<div class="btn-group">
			<button class="btn" id="allowmessagesetting">{{language.allowbtn}}</button>
			<button class="btn" id="forbidmessagesetting">{{language.forbidbtn}}</button>
			<button class="btn">更多</button>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">	
				<li><a href="#" id="refreshmessagesetting">{{language.refreshbtn}}</a></li>
				<li><a href="#" id="messagetemplatesetting">{{language.templatesettiongbtn}}</a></li>
				<li class="divider"></li>
				<li><a href="#" id="messagehelpmessage">{{language.helpmessagebtn}}</a></li>
			</ul>
		</div>
	</div>
</div>
</Template>

<Template name="messagesettingList">
	<div style="padding-bottom:8px">
		<span class="label label-info">短信设置详细信息</span>
	</div>
	<!--短信列表表格展示-->
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr></tr>
			<tr>
				<th><input type="checkbox" id="messagesettingtableselectall"></th>
				<th>{{language.nameTh}}</th>
				<th>{{language.statusTh}}</th>
				<th>{{language.phoneTh}}</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="messageSettingList">
			{{#each messagelist}}
			<tr>
				<td><input type="checkbox" id="{{nIndex}}"></td>
				<td>{{Name}}</td>
				<td>{{Status}}</td><td>{{Phone}}</td>
				<td>
					<div class="btn-group">
						<button id="{{nIndex}}" class="btn"><i class="icon-edit"></i> {{language.messagesettingmodel.editbtn}}</button>
					</div>
				</td>
			</tr>
			{{/each}}
		</tbody>
		<!-- <tfoot>
			<tr>
				<td colspan="5">{{{pager}}}</td>
			</tr>
		</tfoot> -->
	</table>
	{{{pager}}}
</Template>

<!--发送短信的方式  标签页 -->
<Template name="sendingmessagemethods">
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#home1" data-toggle="tab">以WEB方式发送短信</a></li>
		<li><a href="#home2" data-toggle="tab">以串口方式发送短信</a></li>
		<li><a href="#home3" data-toggle="tab">调用动态库中的函数发送</a></li>
		<li><a href="#home4" data-toggle="tab">数据库存取</a></li>
	</ul>
	
	<div id="mytabcontent" class="tab-content">
		<div class="tab-pane active" id="home1">
			<form id="methodsendforweb" onsubmit="return false;">
				<div class="controls">
					<label class="control-label">用户名*：&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="text"  name="User">
					</label>
				</div>
				<div class="controls">
					<label class="control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码*：&nbsp;&nbsp;&nbsp;
						<input type="password"  name="Pwd">
					</label>
				</div>
				<div class="controls">
					<label class="control-label">信息长度*：
						<input type="text"  name="Length" value="0">
						<span style="color:#f00">短信最大长度为70</span>
					</label>
				</div>
				<div class="control-group" style="padding-left:88px">
					<button class="btn" id="webmessagesettingapplybtn">{{language.messagesettingmodel.applybtn}}</button>
					<button class="btn" id="webmessagesettingrecoverbtn">{{language.messagesettingmodel.recoverbtn}}</button>
					<button class="btn" id="webmessagesettingtestbtn">{{language.messagesettingmodel.testbtn}}</button>
				</div>
			</form>
		</div>
		
		<div class="tab-pane" id="home2">
			<form id="methodsendforcom" onsubmit="return false;">
				<div class="controls">
					<label class="control-label">端口号*：&nbsp;&nbsp;&nbsp;
					<select name="Port" id="comselectport">
						<option value="COM1" selected>COM1</option>
						<option value="COM2">COM2</option>
						<option value="COM3">COM3</option>
						<option value="COM4">COM4</option>
					</select></label>
				</div>
				<div class="controls">
					<label class="control-label">信息长度*：<input type="text"  name="length" value="0">
					<span style="color:#f00">短信最大长度为70</span></label>
				</div>
			
				<div class="controls" style="padding-left:88px">
					<button class="btn" id="commessagesettingapplybtn">{{language.messagesettingmodel.applybtn}}</button>
					<button class="btn" id="commessagesettingrecoverbtn">{{language.messagesettingmodel.recoverbtn}}</button>
					<button class="btn" id="commessagesettingtestbtn">{{language.messagesettingmodel.testbtn}}</button>
				</div>
			</form>
		</div>
		<div class="tab-pane" id="home3">
			<div id="methodsendforlib">
				<div class="controls">
					<label class="control-label">动态库名称*：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<select id="sendmessageofdllnamelist" name="DllName">
						
					</select></label>
				</div>
				<div>
					<label class="control-label">动态库函数参数：<input type="text"  name="DllFunParam"></label>
				</div>
			</div>
			<div class="controls" style="padding-left:120px">
				<button class="btn" id="libmessagesettingapplybtn">{{language.messagesettingmodel.applybtn}}</button>
				<button class="btn" id="libmessagesettingrecoverbtn">{{language.messagesettingmodel.recoverbtn}}</button>
				<button class="btn" id="libmessagesettingtestbtn">{{language.messagesettingmodel.testbtn}}</button>
			</div>
		</div>
		<div class="tab-pane" id="home4">
			<form class="form-horizontal" id="messagesettinginsertmethod">
				<fieldset>
					<label class="label label-info" align="left">插入方式</label>
					<div class="controls">
						<label class="control-label"><input type="radio"  name="InsertWay" value="nomal" checked>常规插入</label>
						<label class="control-label"><input type="radio"  name="InsertWay" value="procedure">存储过程插入</label>
					</div>  
				</fieldset>
				{{> choosemodelaccordinginsertmethod}}
				<div class="control-group" style="padding-left:300px">
					<button class="btn" id="insertmethodmessagesettingapplybtn">{{language.messagesettingmodel.applybtn}}</button>
					<button class="btn" id="insertmethodmessagesettingrecoverbtn">{{language.messagesettingmodel.recoverbtn}}</button>
				</div>
			</form>
		</div>
	</div>

</Template>

<!--根据短信设置插入方式选择功能模块 -->
<Template name="choosemodelaccordinginsertmethod">
	<form class="form-horizontal" onsubmit="return false;">
		<fieldset>
			<hr/>
			<label class="label label-info" align="left">参数</label>
			<div id="choosenormalinsert" class="control-group">
				<div class="control-group pull-left">
					<label class="control-label">数据库类型*：</label>
					<div class="controls">
						<select name="DataBaseType">
							<option value="oracle" checked>Oracle</option>
							<option value="mysql">Mysql</option>
							<option value="sqlserver">SqlServer</option>
							<option value="sybase">Sybase</option>
							<option value="db2">DB2</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">数据库表名*：</label>
					<div class="controls">
						<input type="text" name="TableName">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">连接字符串*：</label>
					<div class="controls">
						<input type="text" class="span8" name="ConnectionString">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">参数列表*：</label>
					<div class="controls">
						<table class="table" style="width:420px">
							<thead>
								<tr></tr>
								<tr>
									<th><input type="checkbox" id="datamessagetableselectall"></th>
									<th>参数名称</th>
									<th>参数类型</th>
									<th>长度</th>
									<th>参数含义</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th><input type="checkbox" id="datamessagetableselectall"></th>
									<th><input type="text" style="width:80px" name="PramName0" value="smsPhones"></th>
									<th>
										<select name="" style="width:100px">
											<option value="String">String</option>
											<option value="Int">Int</option>
											<option value="DataTime">DataTime</option>
										</select>
									</th>
									<th><input type="text" style="width:80px" name="PramLength0" value="150"></th>
									<th>
										<select name="PramDesc0" style="width:100px">
											<option value="0">手机号码</option>
											<option value="1">短信内容</option>
											<option value="2">发送时间</option>
										</select>
									</th>
									<th rowspan="2">
										<div>
										<button style="width:80px" class="btn" id="insertparamofmethodbtn">添加</button><br/>
										<button style="width:80px" class="btn" id="deleteparamofmethodbtn">删除</button>
										</div>
									</th>
								</tr>
								<tr>
									<th><input type="checkbox" id="cdatamessagetableselectall"></th>
									<th><input type="text" style="width:80px" name="PramName1" value="context"></th>
									<th>
										<select name="PramType0" style="width:100px">
											<option value="String">String</option>
											<option value="Int">Int</option>
											<option value="DataTime">DataTime</option>
										</select>
									</th>
									<th><input type="text" style="width:80px" name="PramLength1" value="150"></th>
									<th>
										<select name="PramType1" style="width:100px">
											<option value="0">手机号码</option>
											<option value="1">短信内容</option>
											<option value="2">发送时间</option>
										</select>
									</th>
									
								</tr>
								
							</tdoby>
							
						</table>
						
					</div>
				</div>
			</div>
			
			<div id="chooseprocedureinsert" class="hide">
				<div class="control-group pull-left">
					<label class="control-label">数据库类型*：</label>
					<div class="controls">
						<select name="DataBaseType">
							<option value="oracle" checked>Oracle</option>
							<option value="mysql">Mysql</option>
							<option value="sqlserver">SqlServer</option>
							<option value="sybase">Sybase</option>
							<option value="db2">DB2</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">数据库表名*：</label>
					<div class="controls">
						<input type="text" name="TableName">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">连接字符串*：</label>
					<div class="controls">
						<input type="text" class="span8" name="ConnectionString">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">参数列表*：</label>
					<div class="controls">
						<table class="table" style="width:420px">
							<thead>
								<tr></tr>
								<tr>
									<th><input type="checkbox" id="datamessagetableselectall"></th>
									<th>参数名称</th>
									<th>参数类型</th>
									<th>长度</th>
									<th>参数含义</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th><input type="checkbox" id="datamessagetableselectall"></th>
									<th><input type="text" style="width:80px" name="PramName0" value="smsPhones"></th>
									<th>
										<select name="" style="width:100px">
											<option value="String">String</option>
											<option value="Int">Int</option>
											<option value="DataTime">DataTime</option>
										</select>
									</th>
									<th><input type="text" style="width:80px" name="PramLength0" value="150"></th>
									<th>
										<select name="PramDesc0" style="width:100px">
											<option value="0">手机号码</option>
											<option value="1">短信内容</option>
											<option value="2">发送时间</option>
										</select>
									</th>
								</tr>
								<tr>
									<th><input type="checkbox" id="cdatamessagetableselectall"></th>
									<th><input type="text" style="width:80px" name="PramName1" value="context"></th>
									<th>
										<select name="PramType0" style="width:100px">
											<option value="String">String</option>
											<option value="Int">Int</option>
											<option value="DataTime">DataTime</option>
										</select>
									</th>
									<th><input type="text" style="width:80px" name="PramLength1" value="150"></th>
									<th>
										<select name="PramType1" style="width:100px">
											<option value="0">手机号码</option>
											<option value="1">短信内容</option>
											<option value="2">发送时间</option>
										</select>
									</th>
								</tr>
							</tdoby>
						</table>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">存储过程名称*：</label>
					<div class="controls">
						<input type="text" name="PorcName">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">返回值：</label>
					<div class="controls">
						<input type="text" class="span8" name="">
						<input type="button" class="btn" value="...">
					</div>
				</div>
			</div>
			
		</fieldset>
	</form>
	
</Template>
