<Template name="SysLogsetting">
	<div class="form-horizontal">
	<span class="label label-info">SysLog设置</span>
    </div>
	{{> SysLogsetting_status}}
</Template>
		
<Template name="SysLogsetting_status">
<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#home1" data-toggle="tab">设备参数设置</a></li>
		<li><a href="#home2" data-toggle="tab">级别参数设置</a></li>
		<li><a href="#home3" data-toggle="tab">系统日志删除设置</a></li>
	</ul>
	
	<div id="mytabcontent" class="tab-content" style="border:none;">
		<div class="tab-pane active" id="home1">
			<form id="methodsendforweb" onsubmit="return false;">
				<table class="table table-condensed" width="200" border="0">
			<thead>
			
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
					<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;</td>
			    <td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
		  </tr>
					</thead>
					</table>
				<div class="control-group" style="padding-left:88px">
					<button class="btn" id="webmessagesettingapplybtn">{{language.messagesettingmodel.applybtn}}</button>
					<button class="btn" id="webmessagesettingrecoverbtn">{{language.messagesettingmodel.recoverbtn}}</button>
					<button class="btn" id="webmessagesettingtestbtn">{{language.helpmessagebtn}}</button>
				</div>
			</form>
		</div>
		
		<div class="tab-pane" id="home2">
			<form id="methodsendforcom" onsubmit="return false;">
				<table class="table table-condensed" width="200" border="0">
			<thead>
			
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox"/>
					         Kernel
				</td>
					<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;</td>
			    <td>
					<input id="z_lp_mj!real" type="checkbox"/>
					         Kernel
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox"/>
					         Kernel
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox"/>
					         Kernel
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox">
					         Kernel
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox"/>
					         Kernel
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox"/>
					         Kernel
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox"/>
					         Kernel
				</td>
		  </tr>
		  
					</thead>
					</table>
				<div class="controls" style="padding-left:88px">
					<button class="btn" id="commessagesettingapplybtn">{{language.messagesettingmodel.applybtn}}</button>
					<button class="btn" id="commessagesettingrecoverbtn">{{language.messagesettingmodel.recoverbtn}}</button>
					<button class="btn" id="commessagesettingtestbtn">{{language.helpmessagebtn}}</button>
				</div>
			</form>
	</div>
		<div class="tab-pane" id="home3">
			<div id="methodsendforlib">
				<div class="well form-horizontal form-inline">
				<div class="controls">
					<div class="form-inline" id="form_datetime">
								<label class="control-label">删除此时间以前的记录:</label>
								<div id="date" class="input-append date form_datetime">
									<input type="text" style="width:80px"/>
									<span class="add-on">
										<i class="icon-th"></i>
									</span>
									  <input type="time" name="Generate" min="01" max="23" style="width:80px"/>
								</div>
								<button class="btn" id="commessagesettingapplybtn">{{language.delbtn}}</button>
				    </div>
				</div>
					
				
				<div class="controls">
				<label class="control-label">记录保持天数 *:</label>
					<input type="text" name="count" style="width:200px"/>
					<button class="btn" id="commessagesettingapplybtn">{{language.messagesettingmodel.applybtn}}</button>
				 </div>
			</div>
		</div>
	</div>
</Template>	