<Template name="SysLogsetting">
	<div class="form-horizontal">
	<span class="label label-info">SysLog设置</span>
    </div>
	{{> SysLogsetting_status}}
</Template>
		
<Template name="SysLogsetting_status">
<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#home1" data-toggle="tab">设备参数设置</a></li>
		<li><a href="#home2" data-toggle="tab">级别参数设置</a></li>
		<li><a href="#home3" data-toggle="tab">系统日志删除设置</a></li>
	</ul>
	
	<div id="mytabcontent" class="tab-content" style="border:none;">
		<div class="tab-pane active" id="home1">
			<form id="methodsendforcom" onsubmit="return false;">
				<table class="table table-condensed" width="200" border="0">
			<thead>
			
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Kernel
				</td>
					<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;</td>
			    <td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         User
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Mail
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Daemon
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Auth
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Syslog
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Lpr
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         News
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         UUCP
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Cron
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Security
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         FTP Daemon
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         NIP
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Log audit
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Log alert
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Clock Daemon
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         local0
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         local1
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         local2
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         local3
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         local4
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         local5
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         local6
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         local7
				</td>
		  </tr>
					</thead>
					</table>
				<div class="control-group" style="padding-left:88px">
					<button class="btn" id="SysLogsettingapplybtn">{{language.syslogsettingmodel.applybtn}}</button>
					<button class="btn" id="SysLogsettingrecoverbtn">{{language.syslogsettingmodel.recoverbtn}}</button>
					<button class="btn" id="SysLogsettingtestbtn">{{language.helpmessagebtn}}</button>
				</div>
			</form>
		</div>
		
		<div class="tab-pane" id="home2">
			<form id="methodsendforcom" onsubmit="return false;">
				<table class="table table-condensed" width="200" border="0">
			<thead>
			
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Emergency
				</td>
					<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;</td>
			    <td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					        Alert
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Critical
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Error
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked">
					         Warning
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Notice
				</td>
		  </tr>
		  <tr>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Informational
				</td>
					<td></td>
				<td>
					<input id="z_lp_mj!real" type="checkbox" checked="checked"/>
					         Debug
				</td>
		  </tr>
		  
					</thead>
					</table>
				<div class="controls" style="padding-left:88px">
					<button class="btn" id="syslogsettingapplybtn2">{{language.syslogsettingmodel.applybtn}}</button>
					<button class="btn" id="SysLogsettingrecoverbtn1">{{language.syslogsettingmodel.recoverbtn}}</button>
					<button class="btn" id="commessagesettingtestbtn">{{language.helpmessagebtn}}</button>
				</div>
			</form>
	</div>
		<div class="tab-pane" id="home3">
			<div id="methodsendforlib">
				<div class="well form-horizontal form-inline">
				<div class="controls">
					<div class="form-inline" id="form_datetime">
								<label class="control-label">删除此时间以前的记录:&nbsp&nbsp</label>
								<div id="date" class="input-append date form_datetime">
									<input type="text" style="width:170px"/>
									<span class="add-on">
										<i class="icon-th"></i>
									</span>
									<!--  <input type="time" name="time" min="01" max="23" style="width:80px"/>-->
								</div>
								<button class="btn" id="commessagesettingapplybtn">{{language.syslogsettingmodel.dellogbtn}}</button>
				    </div>
				</div>
					
				
				<div class="controls">
				<label class="control-label">记录保持天数&nbsp&nbsp&nbsp&nbsp&nbsp; *&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;:&nbsp&nbsp</label>
					<input type="text" name="count" value=""  autocomplete="on" onkeyup="this.value=this.value.replace(/[^\d]/g,'') " onafterpaste="this.value=this.value.replace(/[^\d]/g,'') " style="width:200px"/>
					<button class="btn" id="syslogsettingapplybtn3">&nbsp&nbsp&nbsp&nbsp;{{language.syslogsettingmodel.applybtn}}&nbsp&nbsp&nbsp;</button>
				 </div>
				 </form
			</div>
		</div>
	</div>
</Template>	