<Template name="UserPromission">
	<div class="modal hide fade" data-backdrop="true" data-keyboard="true" data-show="false" 
		data-maxHeight='500' data-width="650" data-height="545" data-modalOverflow="true">
		<div class="modal-header">
			{{#with user}}
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<span class="badge badge-info" id="promissionUsername">用户授权:{{username}}</span>
			<input type="hidden" id="promissionUserId" value="{{_id}}">
			{{/with}}
		</div>
		<div class="modal-body">
			<div class="row-fluid">
				<div class="span6 well well-condensed well-overflow">
					<ul id="svse_tree_promission_check" class="ztree"></ul>
					<ul id="svse_other_promission_check" class="ztree"></ul>
				</div>
				<div class="span6 well-overflow" id="userPromissionViewType">
					
				</div>
			</div>
		</div>
		<div class="modal-footer" align="right">
			<button class="btn btn-large" id="cancel">取消</button>
			<button class="btn btn-primary btn-large" id="save">保存</button>
		</div>
	</div>
</Template>