<Template name="usersettingadd">
	<div class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close">×</button>
			<label class="label label-info">添加用户</label>
		</div>
		<div class="modal-body">
		<form id="usersettingaddform" class="well form-horizontal" submit="return fasle;">
			<fieldset>
				<div class="control-group">
				  <label class="control-label">登录名:</label>
				  <div class="controls">
					<input type="text" class="input-big" name="username" placeholder="5-16个字符">
					<span class='help-inline' style="display:none">登录名已存在</span>
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label">用户名:</label>
				  <div class="controls">
					<input type="text" class="input-big" name="aliasname">
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label">密码:</label>
				  <div class="controls">
					<input type="password" class="input-big" name="password">
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label">确认密码:</label>
				  <div class="controls">
					<input type="password" class="input-big" name="password2">
					<span class='help-inline' style="display:none">两次密码不一致</span>
				  </div>
				</div>
			</fieldset>
		</form>
		<div class="modal-footer" align="right">
			<button class="btn btn-large" id="usersettingaddformcanclebtn">取消</button>
			<button class="btn btn-primary btn-large" id="usersettingaddformsavebtn">保存</button>
		</div>
	</div>
	</div>
</Template>