<Template name="UserPromissionTypeOfGroup">
	<span class="badge">组权限</span>
	<ul class="nav nav-list">
		<li>
			<input type="checkbox" name="addSonGroup">
			<img src="imag/setting/group_add.png"/> 增加子组
		</li>
		<li>
			<input type="checkbox" name="editGroup">
			<img src="imag/setting/group_edit.png"/> 编辑组
		</li>
		<li>
			<input type="checkbox" name="delGroup">
			<img src="imag/setting/del_bt.png"/> 删除组
		</li>
		<li>
			<input type="checkbox" name="groupRefresh">
			<i class="icon-book"></i> 刷新组
		</li>
		
	</ul>
	<br>
	<span class="badge">设备权限</span>
	<ul class="nav nav-list">
		<li>
			<input type="checkbox" name="editEntity">
			<img src="imag/setting/entity_edit.png"/> 编辑设备
		</li>
		<li>
			<input type="checkbox" name="delEntity">
			<img src="imag/setting/del_bt.png"/> 删除下属设备
		</li>
	</ul>
</Template>

<Template name="UserPromissionTypeOfEntity">
	<span class="badge">设备权限</span>
	<ul class="nav nav-list">
		<li>
			<input type="checkbox" name="editEntity">
			<img src="imag/setting/entity_edit.png"/> 编辑设备
		</li>
		<li>
			<input type="checkbox" name="delEntity">
			<img src="imag/setting/del_bt.png"/> 删除设备
		</li>
		<li>
			<input type="checkbox" name="entityRefresh">
			<img src="imag/setting/entity_refresh.png"/> 刷新设备
		</li>
	</ul>
	<br>
	<span class="badge">监视器权限</span>
	<ul class="nav nav-list">
		<li>
			<input type="checkbox" name="addMonitor">
			<img src="imag/setting/monitor_add.png"/> 增加监视器
		</li>
		<li>
			<input type="checkbox" name="editMonitor">
			<img src="imag/setting/monitor_edit.png"/> 编辑监视器
		</li>
		<li>
			<input type="checkbox" name="delMonitor">
			<img src="imag/setting/del_bt.png"/> 删除监视器
		</li>
		<li>
			<input type="checkbox" name="monitorRefresh">
			<img src="imag/setting/monitor_refresh.png"/> 刷新监视器
		</li>
	</ul>
</Template>

<Template name="UserPromissionTypeOfAlert">
	<span class="badge">报警</span>
</Template>

<Template name="UserPromissionTypeOfAlertRule">
	<span class="badge">报警规则操作权限</span>
	<ul class="nav nav-list">
		<li>
			<input type="checkbox" name="addAlert">
			<img src="imag/setting/alertrule_add.png"/> 添加
		</li>
		<li>
			<input type="checkbox" name="updateAlert">
			<img src="imag/setting/alertrule_edit.png"/> 编辑
		</li>
		<li>
			<input type="checkbox" name="deleteAlert">
			<img src="imag/setting/alertrule_del.png"/> 删除
		</li>
	</ul>
</Template>

<Template name="UserPromissionTypeOfAlertLog">
	<span class="badge">报警日志</span>
</Template>

<Template name="UserPromissionTypeOfAlertStrategy">
	<span class="badge">报警策略</span>
</Template>

<Template name="UserPromissionTypeOfReport">
	<span class="badge">报表</span>
</Template>

<Template name="UserPromissionTypeOfStatisticsReport">
	<span class="badge">统计报告</span>
	<ul class="nav nav-list">
		<li>
			<input type="checkbox" name="addStatistical">
			<img src="imag/setting/statistical_add.png"/> 添加
		</li>
		<li>
			<input type="checkbox" name="updateStatistical">
			<img src="imag/setting/statistical_edit.png"/> 编辑
		</li>
		<li>
			<input type="checkbox" name="deleteStatistical">
			<img src="imag/setting/statistical_del.png"/> 删除
		</li>
	</ul>
</Template>

<Template name="UserPromissionTypeOfTrendReport">
	<span class="badge">趋势报告</span>
</Template>

<Template name="UserPromissionTypeOfTopNReport">
	<span class="badge">TopN报告</span>
	<ul class="nav nav-list">
		<li>
			<input type="checkbox" name="addTopN">
			<img src="imag/setting/statistical_add.png"/> 添加
		</li>
		<li>
			<input type="checkbox" name="updateTopN">
			<img src="imag/setting/statistical_edit.png"/> 编辑
		</li>
		<li>
			<input type="checkbox" name="deleteTopN">
			<img src="imag/setting/statistical_del.png"/> 删除
		</li>
	</ul>
</Template>

<Template name="UserPromissionTypeOfStatusStatisticalReport">
	<span class="badge">状态统计报告</span>
</Template>

<Template name="UserPromissionTypeOfContrastReport">
	<span class="badge">对比报告</span>
</Template>

<Template name="UserPromissionTypeOfOperationAndMaintenanceReport">
	<span class="badge">运维统计报告</span>
</Template>

<Template name="UserPromissionTypeOfTimeConstrastReport">
	<span class="badge">时段对比报告</span>
</Template>

<Template name="UserPromissionTypeOfMonitorInfoReport">
	<span class="badge">监测器信息报告</span>
</Template>

<Template name="UserPromissionTypeOfSysLogQueryReport">
	<span class="badge">SysLog查询</span>
</Template>

<Template name="UserPromissionTypeOfSetting">
	<span class="badge">设置</span>
</Template>

<Template name="UserPromissionTypeOfBasicSetting">
	<span class="badge">基础设置</span>
</Template>

<Template name="UserPromissionTypeOfEmailSetting">
	<span class="badge">邮件设置</span>
</Template>

<Template name="UserPromissionTypeOfMessageSetting">
	<span class="badge">短信设置</span>
</Template>

<Template name="UserPromissionTypeOfUserSetting">
	<span class="badge">用户设置</span>
</Template>

<Template name="UserPromissionTypeOfSysLogsetting">
	<span class="badge">SysLog设置</span>
</Template>

<Template name="UserPromissionTypeOftask">
	<span class="badge">任务计划</span>
</Template>

<Template name="UserPromissionTypeOftaskabsolute">
	<span class="badge">绝对时间任务计划</span>
</Template>

<Template name="UserPromissionTypeOftaskperiod">
	<span class="badge">时间段任务计划</span>
</Template>

<Template name="UserPromissionTypeOfTaskRelative">
	<span class="badge">相对时间任务计划</span>
</Template>

<Template name="UserPromissionTypeOfOperateLog">
	<span class="badge">用户操作日志</span>
</Template>

<Template name="UserPromissionTypeOfSystemDiagnosis">
	<span class="badge">系统诊断</span>
</Template>

<Template name="UserPromissionTypeOfLicense">
	<span class="badge">软件许可</span>
</Template>

<Template name="UserPromissionTypeOfAbout">
	<span class="badge">产品介绍</span>
</Template>
