<Template name="TreeView">
	<div id="showSimpleAndDetailTree">
		<button id="showSimpleTreebtn">显示缩略</button>
		<button id="showDetailTreebtn">显示细节</button>
		<select id="showMonitorStatus">
			<option value="all" selected>显示全部状态</option>
			<option value="error">只显示错误</option>
			<option value="ok">只显示正常</option>
			<option value="bad">只显示自定义错误</option>
			<option value="warning">只显示危险</option>
			<option value="disable">只显示禁止</option>
		</select>
	</div>
	<div id="showTreeView" class="row-fluid" style="height:350px">
		<ul id="svse_tree_view" class="ztree"></ul>
		<ul id="svse_tree_view_detail" class="ztree" style="display:none"></ul>
	<div>
	<br/>
	
	<div id="rMenu" style="position:absolute;display:none;">   

	</div>
	
	{{> svg}}
	
</Template>

<Template name="rigntMenu">
	<ul class="dropdown-menu">
		<li><a id="addSonGroup">{{name}}</a></li>
		<li class="divider"></li>
		{{#if equal type "se"}}
			{{#if isHaveUserPermission id "addSonGroup"}}
				<li><a id="addSonGroup" href="#">增加子组</a></li>
			{{/if}}
			{{#if isHaveUserPermission id "addEntity"}}
				<li><a id="addEntity" href="#">增加设备</a></li>
			{{/if}}
			{{#if isHaveUserPermission id "editSe"}}
				<li><a id="editEntity" href="#">编辑SE</a></li>
			{{/if}}
		{{/if}}
		
		{{#if equal type "group"}}
			{{#if isHaveUserPermission id "addEntity"}}
				<li><a id="addEntity" href="#">增加设备</a></li>
			{{/if}}
			{{#if isHaveUserPermission id "editGroup"}}
				<li><a id="editGroup" href="#">编辑组</a></li>
			{{/if}}
			{{#if isHaveUserPermission id "addSonGroup"}}
				<li><a id="addSonGroup" href="#">增加子组</a></li>
			{{/if}}
			{{#if isHaveUserPermission id "copyEntity"}}
				<li><a id="copyEntity" href="#">粘贴设备</a></li>
			{{/if}}
			{{#if isHaveUserPermission id "delGroup"}}
				<li><a id="delGroup" href="#">删除组</a></li>
			{{/if}}
		{{/if}}
		
		{{#if equal type "entity"}}
			{{#if isHaveUserPermission id "addMonitor"}}
				<li><a id="addMonitor" href="#">增加监视器</a></li>
			{{/if}}
			{{#if isHaveUserPermission id "editEntity"}}
				<li><a id="editEntity" href="#">编辑设备</a></li>
			{{/if}}
			{{#if isHaveUserPermission id "delEntity"}}
				<li><a id="delEntity" href="#">删除设备</a></li>
			{{/if}}
		{{/if}}
    </ul>
	
</Template>